@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;500;700&display=swap');
.esvigi {
	width: 100%;
	font-family: "Londrina Shadow", cursive;
}

.filled_heading text {
	text-transform: uppercase;
	font-size: 4.5rem;
	line-height: 0.9;
	letter-spacing: 2px;
	display: none; /* Hide all text elements initially */
}

.background path {
	animation: pulse 4s cubic-bezier(0.255, 0.03, 0.515, 0.955) infinite;
	transform-origin: 40% 40%;
	transform-box: fill-box;
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(0) rotate(210deg);
	}
	35%,
	65% {
		transform: scale(1.5) rotate(0deg);
	}
}
@media (width < 1000px) {
	.filled_heading text {
		font-size: 5rem;
	}
}
@media (width < 700px) {
	.filled_heading text {
		font-size: 5.5rem;
		transform: translateY(10px);
	}
}
