@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");

/* Basic styling */
.esvigi {
	width: 100%;
}
.filled_heading text {
	text-transform: uppercase;
	font-family: "Londrina Shadow", cursive;
	font-size: 6rem;
	line-height: 0.9;
	letter-spacing: 6px;
}

/* Animate the background shapes */
.background path {
	transform-origin: 60% 60%;
	transform-box: fill-box;
}
.background path:nth-of-type(2n) {
	animation: rotate 10s linear infinite;
}
.background path:nth-of-type(2n + 1) {
	animation: rotate 20s linear reverse infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
