/* Basic styling */
.esvigi {
	width: 100%;
}
.filled_heading {
	text-transform: uppercase;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 6rem;
	line-height: 0.9;
}

/* Animate the background shapes */
.background path {
	transform-origin: 50% 50%;
	transform-box: fill-box;
}
.background path:nth-of-type(2n) {
	animation: rotate 10s linear infinite;
}
.background path:nth-of-type(2n + 1) {
	animation: rotate 20s linear reverse infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
