@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");

.artwork_cont {
	position: relative;
	margin: 60rem 0 15rem;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 50px;
}
.artwork_inner_cont {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.upper_img_cont {
	width: 100%;
	border-bottom: 2px solid var(--border-color);
	padding-bottom: 80px;
}
.upper_text_bg {
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
	letter-spacing: 0px;
	text-align: center;
}
.upper_text_bg p {
	opacity: 0.3;
	font-size: 14rem;
	line-height: 1.2;
	font-family: "Monoton", cursive;
	color: var(--border-color);
}
.lower_text_bg {
	width: 100%;
	position: absolute;
	bottom: -180px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.lower_text_bg p {
	opacity: 0.5;
	font-size: 10rem;
	font-family: "Monoton", cursive;
	color: var(--border-color);
}
.lower_img_cont {
	width: 100%;
}

/* EXAMPLE GALLERY CSS */
.example_gallery {
	--s: 50px;

	display: grid;
	height: 400px;
	gap: 12px;
	grid-auto-flow: column;
	place-items: center;
	margin: 80px 40px 0;
}
.example_gallery:hover img {
	filter: grayscale();
}
.example_gallery img:hover {
	filter: grayscale(0%);
}
.example_gallery > img {
	width: 0;
	height: 0;
	min-width: calc(100% + var(--s));
	min-height: 100%;
	object-fit: cover;
	cursor: pointer;
	opacity: 0.8;
	clip-path: polygon(var(--s) 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
	transition: 0.5s;
}
.example_gallery > img:hover {
	width: 12vw;
	opacity: 1;
}
.example_gallery > img:first-child {
	min-width: calc(100% + var(--s) / 2);
	place-self: start;
	clip-path: polygon(0 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
}
.example_gallery > img:last-child {
	min-width: calc(100% + var(--s) / 2);
	place-self: end;
	clip-path: polygon(var(--s) 0, 100% 0, 100% 100%, 0 100%);
}
