@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.artwork_cont {
	position: relative;
	margin: 60rem 0 12rem;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 50px;
}
.artwork_inner_cont {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.upper_img_cont {
	width: 100%;
	border-bottom: 2px solid var(--border-color);
	padding-bottom: 10px;
}
.upper_text_bg {
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
	letter-spacing: 0px;
	text-align: center;
}
.upper_text_bg p {
	opacity: 0.3;
	font-size: 14rem;
	line-height: 1.2;
	font-family: "Monoton", cursive;
	color: var(--border-color);
}
.lower_text_bg {
	width: 100%;
	position: absolute;
	bottom: -160px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.lower_text_bg p {
	opacity: 0.5;
	font-size: 9.5rem;
	font-family: "Monoton", cursive;
	color: var(--border-color);
}
.lower_img_cont {
	width: 100%;
}

/* EXAMPLE GALLERY CSS */
.example_gallery {
	--s: 60px;

	position: relative;
	display: grid;
	height: 400px;
	gap: 22px;
	grid-auto-flow: column;
	place-items: center;
	margin: 80px 40px 0;
}

.example_gallery::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 15px 20px var(--white-color);
	pointer-events: none;
	z-index: 1;
}
.example_gallery:hover img {
	filter: grayscale();
}
.example_gallery img:hover {
	filter: grayscale(0%);
	border-top: 4px solid var(--greenCyan-color);
	border-bottom: 4px solid var(--greenCyan-color);
}
.example_gallery > img {
	width: 0;
	height: 0;
	min-width: calc(100% + var(--s));
	min-height: 100%;
	object-fit: cover;
	cursor: pointer;
	opacity: 0.9;
	border-top: 3px solid var(--greenCyan-color);
	border-bottom: 3px solid var(--greenCyan-color);
	clip-path: polygon(var(--s) 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
	transition: 0.5s;
}
.example_gallery > img:hover {
	width: 12vw;
	opacity: 1;
}
.example_gallery > img:first-child {
	min-width: calc(100% + var(--s) / 2);
	place-self: start;
	clip-path: polygon(0 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
}
.example_gallery > img:last-child {
	min-width: calc(100% + var(--s) / 2);
	place-self: end;
	clip-path: polygon(var(--s) 0, 100% 0, 100% 100%, 0 100%);
}

@media (width < 1400px) {
	.upper_text_bg {
		top: -40px;
	}
	.upper_text_bg p {
		font-size: 12rem;
	}
	.lower_text_bg {
		bottom: -120px;
	}
	.lower_text_bg p {
		font-size: 7.5rem;
	}
}
@media (width < 1100px) {
	.example_gallery {
		margin: 40px 0 0;
	}
	.example_gallery > img:hover {
		width: 20vw;
	}
	.hide_below_1100 {
		display: none;
	}
	.upper_text_bg {
		top: -40px;
	}
	.upper_text_bg p {
		font-size: 10rem;
	}
	.lower_text_bg {
		bottom: -80px;
	}
	.lower_text_bg p {
		font-size: 5.5rem;
	}
}
@media (width < 900px) {
	.hide_below_1400 {
		display: none;
	}
	.artwork_cont {
		padding: 40px;
	}
	.upper_img_cont {
		padding-bottom: 40px;
	}
	.example_gallery {
		--s: 30px;

		gap: 20px;
		height: 600px;
		min-width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-auto-flow: unset;
	}
	.example_gallery::before {
		box-shadow: none;
	}
	.example_gallery > img:nth-child(odd) {
		clip-path: polygon(var(--s) 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
	}
	.example_gallery > img:nth-child(even) {
		clip-path: polygon(var(--s) 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
	}
}
@media (width < 800px) {
	.artwork_cont {
		margin: 55rem 0 6rem;
	}
	.upper_text_bg {
		top: -20px;
	}
	.upper_text_bg p {
		font-size: 7rem;
	}
	.lower_text_bg {
		bottom: -60px;
	}
	.lower_text_bg p {
		font-size: 3.5rem;
	}
}

@media (width < 600px) {
	.artwork_cont {
		padding: 30px;
		margin-top: 55rem;
		margin: 55rem 0 12rem;
	}
	.example_gallery {
		--s: 20px;

		gap: 10px;
		height: 700px;
		min-width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-auto-flow: unset;
	}
	.hide_below_1100,
	.hide_below_1400 {
		display: block;
	}
	.upper_text_bg {
		top: -10px;
	}
	.upper_text_bg p {
		font-size: 5.5rem;
	}
}

@media (width < 500px) {
	.artwork_cont {
		padding: 20px;
	}
	.example_gallery {
		--s: 20px;

		gap: 10px;
		height: 500px;
		min-width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-auto-flow: unset;
	}
	.upper_text_bg {
		top: -10px;
	}
	.upper_text_bg p {
		font-size: 4.5rem;
	}
	.lower_text_bg {
		bottom: -150px;
	}
	.lower_text_bg p {
		font-size: 4rem;
		opacity: 0.8;
		line-height: 1.3;
	}
}
@media (width < 400px) {
	.example_gallery {
		--s: 15px;

		gap: 10px;
		height: 450px;
		min-width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-auto-flow: unset;
	}
	.lower_text_bg {
		bottom: -130px;
	}
	.lower_text_bg p {
		font-size: 3.5rem;
		opacity: 0.8;
		line-height: 1.3;
	}
}
