.cart_wrapper {
	width: 100vw;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
	transition: all 1s ease-in-out;
}
.cart_container {
	height: 100vh;
	width: 700px;
	background-color: var(--white-color);
	float: right;
	padding: 40px 10px;
	position: relative;
	background-image: url(../public/patternReduced.png);
	background-position: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.no-scroll {
	overflow: hidden;
	height: 100%;
}
.cart_container svg {
	color: var(--primary-faded-color-nav);
}
.cart_heading,
.cart_heading_div {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	font-weight: 500;
	cursor: pointer;
	gap: 2px;
	margin-left: 18px;
	background-color: transparent;
}
.cart_heading_div {
	cursor: auto;
}
.cart_heading .heading,
.cart_heading_div .heading {
	margin-left: 5px;
	color: #636363;
}
.cart_num_items {
	margin-left: 5px;
	color: var(--primary-faded-color-nav);
}
/* EMPTY CART STYLES */
.empty_cart {
	margin: 40px;
	text-align: center;
}
.shoppingCart_cont {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 70px;
	width: 325px;
	height: 325px;
	border-radius: 50%;
	box-shadow: 0 0 50px 20px var(--border-color), inset 0 0 160px 0px var(--shadow-color-empty-cart);
	border: 2px solid transparent;
	transition: all 0.5s;
}
.shoppingCart_cont:hover {
	border: 2px solid var(--border-color);
}
.empty_cart_img {
	width: 70%;
	transition: all 0.7s;
}
.shoppingCart_cont:hover .empty_cart_img {
	width: 73%;
}
.empty_cart h3 {
	font-weight: 600;
	font-size: 1.75rem;
	color: #636363;
	margin-top: 100px;
}
.empty_cart .btn {
	position: relative;
	background-color: var(--product-banner-bg2);
	color: var(--secondary-text-color);
	width: 100%;
	max-width: 350px;
	border: none;
	font-size: 1.25rem;
	border-radius: 15px;
	border: 1px solid var(--primary-faded-color);
	box-shadow: 0 0 15px 8px var(--border-color);
	padding: 18px 20px;
	margin-top: 30px;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
.empty_cart .btn:focus {
	outline: 0;
}

.empty_cart .btn:before {
	content: "";
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 80px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.7;
	filter: blur(30px);
	transform: translateX(-50px) skewX(-15deg);
}

.empty_cart .btn:after {
	content: "";
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-50px) skewX(-15deg);
}

.empty_cart .btn:hover {
	background: var(--primary-faded-color);
	cursor: pointer;
}

.empty_cart .btn:hover:before {
	transform: translateX(350px) skewX(-15deg);
	opacity: 0.8;
	transition: 0.7s;
}

.empty_cart .btn:hover:after {
	transform: translateX(350px) skewX(-15deg);
	opacity: 1;
	transition: 0.7s;
}
/* PRODUCT CONTAINER */
.product_container {
	margin-top: 15px;
	overflow: auto;
	max-height: 60vh;
	padding: 20px 10px;
}
.product {
	display: flex;
	gap: 45px;
	padding: 20px;
}
.product .cart_product_image {
	width: 200px;
	height: 100%;
	border-radius: 15px;
	background-color: var(--secondary-text-color);
}
.item_desc .flex {
	display: flex;
	justify-content: space-between;
	width: 350px;
	color: var(--primary-text-color);
}
.item_desc .bottom {
	margin-top: 40px;
}
.flex h5 {
	font-size: 24px;
}
.flex h4 {
	font-size: 20px;
}
.quantity_desc {
	display: flex;
	justify-content: center;
	align-items: center;
}
.quantity_desc .minus,
.quantity_desc .plus {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	font-size: 1.75rem;
	color: var(--primary-faded-color);
	cursor: pointer;
	padding: 10px;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
.quantity_desc .minus:hover,
.quantity_desc .plus:hover {
	background-color: var(--primary-faded-color);
	color: var(--secondary-text-color);
}
.quantity_desc .num {
	font-size: 1.5rem;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	/* width: 55px; */
}
.remove_item {
	font-size: 34px;
	color: var(--red-color);
	cursor: pointer;
	background: transparent;
	border: none;
}
.total {
	display: flex;
	justify-content: space-around;
}
.total h3 {
	font-size: 22px;
}
.btn_container {
	width: 400px;
	margin: auto;
}
/* MEDIA Q */
@media screen and (max-width: 800px) {
	.cart_container {
		width: 100%;
		padding: 4px;
	}
	.cart_heading {
		margin-top: 35px;
	}
	.product_container {
		margin-top: 10px;
	}
	.product {
		padding: 20px 5px;
	}
	.product .cart_product_image {
		width: 25%;
		height: 25%;
	}
	.item_desc .flex {
		width: 200px;
	}
	.item_desc .bottom {
		margin-top: 30px;
	}
	.flex h5 {
		font-size: 16px;
		color: var(--primary-text-color);
	}
	.flex h4 {
		font-size: 16px;
		color: var(--primary-text-color);
	}
	.top {
		flex-wrap: wrap;
		gap: 10px;
	}
	.total h3 {
		font-size: 20px;
	}
}
