@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;500;700&display=swap');
.cart_wrapper {
	width: 100vw;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
	transition: all 1s ease-in-out;
	font-family: "Bai Jamjuree", cursive;
}
.cart_container {
	height: 100vh;
	width: 37.5rem;
	background-color: var(--white-color);
	float: right;
	/* padding: 40px 0; */
	position: relative;
	background-image: url(/patternReduced.png);
	background-position: cover;
	background-repeat: no-repeat;
	background-position: top;
	overflow: scroll;
}
.cart_info_cont {
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
	background-color: var(--border-color);
}
.cart_heading svg {
	color: var(--primary-text-color);
	font-size: 1.5rem;
	transition: all 0.3s;
}

.cart_heading_div svg {
	color: var(--primary-text-color);
	font-size: 1.5rem;
	transition: all 0.3s;
}
.cart_heading:hover svg {
	color: var(--red-color);
}
.cart_heading_div:hover svg {
	color: var(--primary-faded-color-nav);
}

.cart_container .minus:hover,
.cart_container .plus:hover {
	color: var(--white-color);
}
.cart_heading,
.cart_heading_div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	border: none;
	background-color: var(--white-color);
	border-radius: 10px;
	border: 1px solid var(--border-color);
	padding: 10px 20px;
	font-weight: 500;
	cursor: pointer;
	gap: 5px;
	font-family: "Bai Jamjuree", cursive;
	transition: all 0.3s;
}
.cart_heading_div {
	cursor: auto;
	width: fit-content;
}
.cart_heading:hover {
	border: 1px solid var(--red-color);
}
.cart_heading_div:hover {
	border: 1px solid var(--primary-faded-color-nav);
}
.cart_heading .heading,
.cart_heading_div .heading {
	color: var(--primary-text-color);
}
.cart_num_items {
	margin-left: 5px;
	color: var(--primary-color);
}
/* EMPTY CART STYLES */
.empty_cart {
	margin: 120px 40px 0;
	text-align: center;
}
.shoppingCart_cont {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* margin-top: 70px; */
	width: 275px;
	height: 275px;
	border-radius: 50%;
	box-shadow: 0 0 50px 20px var(--border-color), inset 0 0 160px 0px var(--shadow-color-empty-cart);
	border: 2px solid transparent;
	transition: all 0.5s;
}
.shoppingCart_cont:hover {
	border: 2px solid var(--border-color);
}
.empty_cart_img {
	width: 70%;
	transition: all 0.7s;
}
.shoppingCart_cont:hover .empty_cart_img {
	width: 73%;
}
.heart_bottom {
	margin-bottom: 30px;
}
.empty_cart h3,
.heart_bottom h3 {
	font-weight: 600;
	font-size: 1.75rem;
	color: #636363;
	margin-top: 80px;
}
.empty_cart .btn,
.heart_bottom .btn {
	position: relative;
	background-color: var(--product-banner-bg2);
	color: var(--secondary-text-color);
	width: 100%;
	max-width: 350px;
	border: none;
	font-size: 1.25rem;
	border-radius: 8px;
	border: 1px solid var(--primary-faded-color);
	box-shadow: 0 0 15px 8px var(--border-color);
	padding: 14px 22px;
	margin-top: 40px;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
.empty_cart .btn:focus,
.heart_bottom .btn:focus {
	outline: 0;
}

.empty_cart .btn:before,
.heart_bottom .btn:before {
	content: "";
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 80px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.7;
	filter: blur(30px);
	transform: translateX(-50px) skewX(-15deg);
}

.empty_cart .btn:after,
.heart_bottom .btn:after {
	content: "";
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-50px) skewX(-15deg);
}

.empty_cart .btn:hover,
.heart_bottom .btn:hover {
	background: var(--primary-faded-color);
	cursor: pointer;
}

.empty_cart .btn:hover:before,
.heart_bottom .btn:hover:before {
	transform: translateX(350px) skewX(-15deg);
	opacity: 0.8;
	transition: 0.7s;
}

.empty_cart .btn:hover:after,
.heart_bottom .btn:hover:before {
	transform: translateX(350px) skewX(-15deg);
	opacity: 1;
	transition: 0.7s;
}
/* PRODUCT CONTAINER */
.product_container {
	margin-top: 35px;
	max-height: 55%;
	padding: 20px;
	/* box-shadow: inset 0 0 10px 0 var(--border-color); */
	/* border: 2px solid var(--border-color); */
	overflow: scroll;
}
.product {
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 20px;
	background-color: #38d49d10;
	margin: 20px auto;
	border-radius: 8px;
}
.product .cart_product_image {
	width: 175px;
	height: 125px;
	border-radius: 62px;
	background-color: var(--secondary-text-color);
}
.item_desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	/* background-color: var(--white-color); */
	/* border-radius: 0 20px 20px 0; */
}
.item_desc .flex {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: var(--primary-text-color);
	padding: 20px 40px 20px 20px;
}
.item_desc .bottom {
	width: 60%;
	justify-content: space-between;
	padding: 0 0 20px 20px;
}
.flex h5 {
	font-size: 1.25rem;
	color: var(--faded-gray);
}
.flex h4 {
	color: var(--faded-gray);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	/* margin-right: 18px; */
}
.qty_btn {
	/* margin-right: 14px; */
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: transparent;
	padding: 0;
	color: var(--primary-text-color);
	border-radius: 40px;
	border: 2px solid var(--primary-faded-color);
	overflow: hidden;
}
.quantity_desc {
	display: flex;
	justify-content: center;
	align-items: center;
}
.quantity_desc .minus,
.quantity_desc .plus {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	font-size: 1.125rem;
	color: var(--primary-faded-color);
	cursor: pointer;
	padding: 4px 5px;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
.quantity_desc .minus:hover,
.quantity_desc .plus:hover {
	background-color: var(--primary-faded-color);
	color: var(--secondary-text-color);
}
.quantity_desc .num {
	font-size: 1rem;
	color: var(--faded-gray);
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none;
	padding: 0px 14px;
}
.remove_item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--red-color);
	font-size: 2.125rem;
	cursor: pointer;
	background: transparent;
	border: none;
}
.total {
	display: flex;
	justify-content: center;
}
.total h3 {
	padding-right: 20px;
	font-size: 1.75rem;
}
.btn_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
/* MEDIA Q */
@media screen and (max-width: 800px) {
	.cart_container {
		width: 100%;
	}
	.product_container {
		margin-top: 10px;
	}
	.product {
		padding: 20px 25px;
	}
	.shoppingCart_cont {
		width: 200px;
		height: 200px;
	}
	.empty_cart {
		margin: 80px 40px 0;
		text-align: center;
	}
	.product .cart_product_image {
		width: 80px;
		height: 80px;
	}
	.item_desc {
		justify-content: space-around;
	}
	.item_desc .flex {
		width: 100%;
		padding: 0 10px 0;
	}
	.item_desc .bottom {
		margin-top: 20px;
		width: 225px;
		padding-bottom: 0;
	}
	.flex h5 {
		font-size: 1.125rem;
		color: var(--primary-text-color);
	}
	.flex h4 {
		font-size: 1rem;
		color: var(--primary-text-color);
	}
	.top {
		flex-wrap: wrap;
		gap: 10px;
	}
	.total h3 {
		font-size: 20px;
	}
}

@media (width <400px) {
	.cart_heading svg,
	.cart_heading_div svg {
		font-size: 1.25rem;
	}
	.cart_heading,
	.cart_heading_div {
		font-size: 1rem;
	}
	.product_container {
		padding: 10px;
	}
	.product {
		padding: 20px 10px;
		gap: 10px;
	}
	.cart_info_cont {
		padding: 30px 0;
	}
	.shoppingCart_cont {
		width: 175px;
		height: 175px;
	}
	.item_desc .bottom {
		margin-top: 15px;
		width: 210px;
	}
	.empty_cart {
		margin: 60px 20px 0;
		text-align: center;
	}
	.flex h5 {
		font-size: 1rem;
		color: var(--primary-text-color);
	}
}
