.footer {
	display: flex;
	flex-flow: row wrap;
	padding: 40px 10px 40px 70px;
	background-color: #366bc0ec;
	/* border-top: 1px solid #e5e5e5; */
}
.svg_bg {
	width: 100%;
	height: 175px;
	margin-top: 100px;
	background-image: url(../public/wave-haikeiV2.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}

.footer h2 {
	color: var(--secondary-text-color);
}

.footer > * {
	flex: 0.6;
}

/* .footer__addr {
	margin-right: 1.25em;
	margin-bottom: 2em;
} */
.logo{
   width: 400px;
}

.footer__logo a {
	font-family: "Poiret One", sans-serif;
	/* background: var(--secondary-text-color); */
	color: var(--secondary-text-color);
	font-size: 3.5rem;
}

.footer__addr h2 {
	margin-top: 0.5rem;
	font-size: 15px;
	font-weight: 400;
}

.nav__title {
	font-weight: 400;
	font-size: 1.25rem;
	width: 150px;
	padding-bottom: 4px;
	margin-bottom: 10px;
	color: var(--secondary-text-color);
	border-bottom: 1px solid var(--banner-background);
	/* text-align: center; should add/remove if using only 1 column for technology */
}

.footer address {
	font-style: normal;
	color: var(--secondary-text-color);
	margin-top: 0.5rem;
}

.footer .footer__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 42px;
	max-width: max-content;
	background-color: var(--secondary-text-color);
	border-radius: 10px;
	color: var(--primary-color);
	line-height: 0;
	margin: 20px 0 10px;
	font-size: 1rem;
	padding: 0 3.75rem;
	transition: all 0.25s ease-in-out;
	opacity: 0.9;
}

.footer .footer__btn:hover {
	/* background-color: var(--primary-text-color); */
	opacity: 1;
	/* color: var(--secondary-text-color); */
}

.footer ul {
	list-style: none;
	padding-left: 0;
}

.footer li {
	line-height: 2em;
}

.footer a {
	text-decoration: none;
	transition: all 0.15s ease-in-out;
}

.footer__nav {
	display: flex;
	flex-flow: row nowrap;
	/* justify-content: center; */
	gap: 100px;
	margin: 0 auto;
}

.footer__nav > * {
	flex: 1 50%;
	margin-right: 1.25em;
}
.nav__ul svg {
	vertical-align: text-bottom;
	margin-right: 6px;
	color: var(--secondary-text-color);
}

.nav__ul a {
	color: var(--secondary-text-color);
	/* opacity: 0.8; */
}
.nav__ul li {
	max-width: fit-content;
	opacity: 0.8;
}
.nav__ul li:hover {
	opacity: 1;
}
.nav__ul li:hover a {
	color: var(--secondary-text-color);
	padding: 4px;
}

/* this might be unnecessary leaving in case it becomes necessary .nav__ul_extra {
    column-count: 1;
    column-gap: 1.25em;
  } */

.legal {
	display: absolute;
	/* justify-content: center; */
	/* flex-wrap: wrap; */
	color: var(--banner-background);
	background-color: #366bc0ec;
	padding: 10px 20px 20px;
	text-align: center;
}
.payments {
	color: var(--secondary-text-color);
	background-color: #366bc0ec;
	text-align: center;
}

@media screen and (min-width: 24.375em) {
	.legal .legal__links {
		margin-left: auto;
	}
}

@media screen and (min-width: 40.375em) {
	.footer__nav > * {
		flex: 1;
	}

	/* .nav__item_extra {
		flex-grow: 1.1;
	} */

	.footer__addr {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1.5;
	}

	.footer__nav {
		flex: 1.5 0px;
	}
}
@media (max-width: 1200px) {
	.footer {
		flex-direction: column;
	}

	.footer__nav {
		margin-bottom: 20px;
		flex-flow: row wrap;
	}

	.nav__title {
		margin-top: 30px;
	}

	.footer__addr {
		margin-bottom: -10px;
		padding-right: 70px;
	}
}

@media (width < 1000px) {
	.footer {
		padding: 80px 10px 50px 10px;
	}
	.footer__addr {
		margin-right: 0 auto;
		padding-right: 0;
	}
	.footer .footer__nav {
		padding-left: 70px;
		gap: 50px;
	}
}

@media (width < 865px) {
	.footer .footer__nav {
		margin: 40px 0 20px 80px;
		padding: 0;
		gap: 0px;
	}
}
@media (width < 645px) {
	.footer {
		padding: 80px 10px 50px 70px;
		/* max-width: 400px; */
		/* margin: 0 auto; */
	}
	.footer__addr {
		/* text-align: center; */
		margin-bottom: 20px;
	}
	.footer .footer__nav {
		margin: 0;
	}

	.svg_bg {
		width: 100%;
		height: 150px;
		margin-top: 150px;
		background-image: url(../public/wave-haikeiXS.svg);
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100%;
	}
}
