@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");

:root {
	--white-color: #ffffff;
	--white-bleach: #ffffff8a;
	--test: #deffea;
	--blob1: #72efdc76;
	--blob2: #b6f0f470;
	--blob3: #b6f4e770;
	--blob4: #4ccaf090;
	--red-color: #fa575c;
	--cyan-color: #00b5ec;
	--greenCyan-color: #07d3a7;
	--greyLight-2: #c8d0e7;
	--main-background-first: #f5fdd7;
	--main-background-second: #acb7d7;
	--primary-text-color: #414141;
	--secondary-text-color: #fffff7;
	--primary-color: #10af8c;
	--primary-faded-color: #00b48dbc;
	--primary-faded-color-nav: #02b18bd6;
	--secondary-color: #2869ff;
	--third-color: #00dcc6;
	--navbar-background: #ffffffbe;
	--banner-shadows: #0036b34e;
	--banner-background: #ffffff5d;
	--banner-background-dark: #45454578;
	--product-banner-bg1: #00c49a;
	--product-banner-bg2: #048987;
	--border-color: #8bccb06a;
}

html,
body,
* {
	padding: 0;
	margin: 0;
	font-family: "Bai Jamjuree", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 0px;
}
a {
	color: var(--primary-text-color);
	text-decoration: none;
}

.layout {
	background: white;
}

.main-container {
	max-width: 1500px;
	margin: auto;
	width: 100%;
	padding-top: 90px;
}
/* NAVIGATION BAR START */
.navbar-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 1.25rem 1.5rem;
	/* border-bottom: 1px solid var(--border-color); */
	background-color: var(--navbar-background);
	background-size: 15%, 20%;
	background-position: right 30%, left 60%;
	background-repeat: no-repeat;
	box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	z-index: 10;
	transition: all 0.3s ease-in-out;
}

.navbar-container.scrolled {
	padding: 0.6875rem 2.1875rem;
	background-color: var(--primary-faded-color-nav);
}
@media (width > 1200px) {
	.navbar-container .navbar-inner-cont {
		max-width: 1200px;
		margin: 0 auto;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.mobile-nav-toggle {
	display: none;
}
/* .mobile-nav-toggle[aria-expanded="true"] {
	overflow: hidden;
} */
.primary-navigation-large {
	display: flex;
	/* top: 10px; */
	list-style: none;
	padding: 0;
	margin: 0;
	background: var(--primary-faded-color-nav);
	z-index: 11;
}
.primary-navigation {
	display: flex;
	/* top: 10px; */
	list-style: none;
	padding: 0;
	margin: 0;
	background: var(--primary-faded-color-nav);
	z-index: 11;
}

.primary-navigation[data-visible="true"] {
	transform: translateX(0%);
}

@media (min-width: 901px) {
	.primary-navigation-large {
		background: transparent;
		padding-block: 0.5rem;
		padding-inline: clamp(3rem, 10vw, 10rem);
	}
	.primary-navigation {
		display: none;
	}
	.link:hover {
		box-shadow: 0 0px 10px 0 var(--banner-shadows);
	}
}

@media (max-width: 900px) {
	.primary-navigation-large {
		display: none;
	}
	.primary-navigation {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: calc(100vh - 90px);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		padding: 5rem 3rem;
		transform: translateX(-100%);
		transition: transform 0.5s ease-in-out;
		font-size: 2rem;
		overflow: hidden;
		box-sizing: content-box;
	}
	.link {
		margin-bottom: 20px;
		padding: 18px 26px;
		transition: all 0.3s ease-in-out;
		border-radius: 5px;
	}

	.mobile-nav-toggle {
		display: block;
		z-index: 101;
		background-color: transparent;
		border: 0;
		color: var(--primary-color);
		cursor: pointer;
		/* padding-top: 10px; */
		transform: rotateZ(180deg);
		transition: all 0.3s ease-in-out;
	}
	.scrolled .mobile-nav-toggle {
		color: var(--secondary-text-color);
	}
	.logo {
		width: 210px !important;
	}
	.mobile-nav-toggle[aria-expanded="true"] {
		z-index: 121;
	}
}
@media (width < 440px) {
	.logo {
		width: 180px !important;
	}
}
.active {
	color: var(--secondary-text-color);
	transform: rotateZ(0deg);
}

.navbar-inner-cont {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.nav-container a {
	font-size: 1.125rem;
	color: var(--primary-color);
}

/* NAVIGATION BAR END? */
.link {
	transition: all 0.3s ease-in-out;
	border-radius: 5px;
}
.link a {
	color: var(--secondary-text-color);
}

.scrolled .link:hover {
	box-shadow: 0 0px 3px 0px var(--third-color);
}

.marquee-text {
	font-size: 2.375rem;
	font-weight: 600;
	margin: 60px 0px;
	color: var(--red-color);
}

span.text-red {
	-webkit-text-stroke: 1px var(--red-color);
	margin-left: 6px;
}
.logo {
	width: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.scrolled .logo {
	background: var(--secondary-text-color);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.4s ease-in-out;
}
.logo a {
	font-family: "Poiret One", sans-serif;
}
.cart-cont {
	background-color: #ffffff1e;
	padding: 8px 10px 0;
	border-radius: 5px;
	border: 1px solid #ffffff20;
	box-shadow: 0 1px 5px 0 rgba(31, 38, 135, 0.25);
	/* right: 1rem;
	position: fixed; */
	/* z-index: 100; */
}
.cart-icon {
	font-size: 2rem;
	color: var(--primary-color);
	cursor: pointer;
	position: relative;
	transition: transform 0.4s ease;
	border: none;
	background-color: transparent;
}
.scrolled .cart-icon {
	color: var(--secondary-text-color);
}

/* .cart-icon:hover {
	transform: scale(1.1, 1.1);
} */
.cart-item-qty {
	position: absolute;
	right: -8px;
	font-size: 12px;
	color: var(--secondary-text-color);
	background-color: var(--red-color);
	width: 18px;
	height: 18px;
	line-height: 1.4;
	border-radius: 50%;
	text-align: center;
	font-weight: 600;
}

.product-card {
	cursor: pointer;
	flex-shrink: 1;
	transform: scale(1, 1);
	transition: transform 0.5s ease;
	color: var(--primary-text-color);
	background-color: white;
	border-radius: 12px;
	padding: 10px;
	box-shadow: 0 2px 20px 0 rgba(31, 38, 135, 0.159);
}
.product-card:hover .product-image {
	transform: scale(1.1, 1.1);
}
.product-image {
	transform: scale(1, 1);
	transition: transform 0.5s ease;
	overflow: hidden;
}

.pixi-container canvas {
	width: 100%;
	height: 100vh;
}

.products-banner-image {
	position: absolute;
	top: 0;
	right: 0;
	width: 750px;
	/* height: 450px; */
}

.desc {
	position: absolute;
	right: 3%;
	bottom: 10%;
	width: 300px;
	line-height: 1.3;
	font-family: "Bai Jamjuree", sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	color: var(--primary-text-color);
}
.desc p {
	font-size: 1.125rem;
	text-align: end;
}
.desc h5 {
	margin-bottom: 12px;
	align-self: flex-end;
}

.products-heading {
	text-align: center;
	margin: 40px 0px;
	color: var(--primary-text-color);
	margin: 100px 0 40px;
}
.products-heading h2 {
	font-size: 40px;
	font-weight: 800;
}
.products-heading p {
	font-size: 16px;
	font-weight: 200;
}
.footer-banner-container {
	padding: 50px 30px;
	background-color: var(--banner-background-dark);
	border: 1px solid var(--border-color);
	box-shadow: 0 2px 20px 0 var(--banner-shadows);
	border-radius: 15px;
	position: relative;
	height: min-content;
	line-height: 1;
	color: var(--secondary-text-color);
	width: 100%;
	margin-top: 120px;
}
.banner-desc {
	display: flex;
	/* justify-content: space-between; */
}
.banner-desc button {
	width: max-content;
	border-radius: 8px;
	padding: 12px 30px;
	background: linear-gradient(to left, var(--primary-color), var(--primary-color));
	color: var(--secondary-text-color);
	font-size: 1.25rem;
	border: none;
	margin-top: 40px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
}
.banner-desc .left {
	width: 450px;
}
.banner-desc .right {
	flex-shrink: 3;
}
.banner-desc .left h3 {
	font-weight: 900;
	font-size: 5rem;
}
.banner-desc .left p {
	margin: 10px 0;
	font-size: 1.25rem;
}
.banner-desc .right {
	line-height: 1.4;
}
.banner-desc .right {
	display: flex;
	flex-direction: column;
}
.banner-desc .right h3 {
	font-weight: 800;
	font-size: 5rem;
}
.banner-desc .right p {
	font-size: 1.25rem;
	margin: 18px 0;
}
.banner-desc .right .company-desc {
	font-size: 14px;
	font-weight: 300;
}
.cart-wrapper {
	width: 100vw;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
	/* will-change: transform; */
	transition: all 1s ease-in-out;
}
.cart-container {
	height: 100vh;
	width: 600px;
	background: var(--white-color);
	float: right;
	padding: 40px 10px;
	position: relative;
}

.cart-heading {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	gap: 2px;
	margin-left: 10px;
	border: none;
	background-color: transparent;
}

.cart-heading .heading {
	margin-left: 10px;
}
.cart-num-items {
	margin-left: 10px;
	color: var(--red-color);
}
.empty-cart {
	margin: 40px;
	text-align: center;
}
.empty-cart h3 {
	font-weight: 600;
	font-size: 20px;
}
.cancel {
	cursor: pointer;
}
.product-container {
	margin-top: 15px;
	overflow: auto;
	max-height: 60vh;
	padding: 20px 10px;
}
.product {
	display: flex;
	gap: 45px;
	padding: 20px;
}
.product .cart-product-image {
	width: 180px;
	height: 150px;
	border-radius: 15px;
	background-color: var(--secondary-text-color);
}
.item-desc .flex {
	display: flex;
	justify-content: space-between;
	width: 350px;
	color: var(--primary-text-color);
}
.item-desc .bottom {
	margin-top: 60px;
}
.flex h5 {
	font-size: 24px;
}
.flex h4 {
	font-size: 20px;
}
.total {
	display: flex;
	justify-content: space-around;
}
.total h3 {
	font-size: 22px;
}
.remove-item {
	font-size: 34px;
	color: var(--red-color);
	cursor: pointer;
	background: transparent;
	border: none;
}
.cart-bottom {
	position: absolute;
	bottom: 12px;
	right: 5px;
	width: 100%;
	padding: 30px 65px;
}

.btn-container {
	width: 400px;
	margin: auto;
}
.btn {
	width: 100%;
	max-width: 400px;
	padding: 10px 12px;
	border-radius: 15px;
	border: none;
	font-size: 20px;
	margin-top: 10px;
	margin-top: 40px;
	text-transform: uppercase;
	background-color: var(--red-color);
	color: var(--secondary-text-color);
	cursor: pointer;
	transform: scale(1, 1);
	transition: transform 0.5s ease;
}
.btn:hover {
	transform: scale(1.1, 1.1);
}

/* color-picker */

.options-cont {
	/* background: var(--test); */
	border: 1px solid var(--border-color);
	border-radius: 10px;
	box-shadow: inset 0 0 23px 0 #ffffff3e, inset 0 0 1px 0 var(--secondary-text-color);
	backdrop-filter: blur(11.2px);
	-webkit-backdrop-filter: blur(11.2px);
	padding: 10px;
	margin: 20px 0 0;
}
.div-cont {
	display: flex;
	align-items: center;
}

.option-title {
	width: 100px;
	color: var(--primary-text-color);
	font-size: 1.375rem;
	padding: 10px 20px;
}

.input-cont {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 1;
}

.labels {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 5px;
}
.size-option .labels {
	width: 85px;
}

.product-color {
	margin: 5px 8px;
	text-align: center;
}

.product-color li {
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin: 0px 1px;
}

.product-color input:checked + label {
	opacity: 1;
	box-shadow: 0 0 0 3px var(--white-color), 0 0 0 4px var(--primary-faded-color);
}

.product-color label {
	width: 35px;
	color: var(--white-color);
	height: 35px;
	line-height: 38px;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	text-align: center;
	opacity: 0.65;
	box-shadow: 0 0 0 1px var(--primary-text-color), 0 0 0 2px var(--white-color);
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}
.div-cont .size-input input:checked + label {
	opacity: 1;
}
.size-option label:nth-child(2) {
	border: 2px solid var(--primary-faded-color);
	width: 100%;
	border-radius: 4px;
	line-height: 32px;
	box-shadow: none !important;
	color: var(--primary-text-color);
	background-color: transparent;
}
/* .input-cont:nth-child(2) .product-color:nth-child(1) {
	margin: 5px 8px 5px 0;
} */
@media (width < 500px) {
	.input-cont {
		/* display: flex; */
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		flex-grow: 1;
	}
	.input-cont:nth-child(2) .product-color:nth-child(1) {
		margin: 5px 8px;
	}
}
/* .product-color  label:after {
	content: "\f00d";
	position: absolute;
	left: 50%;
	margin-left: -14px/2;
	top: 60%;
	margin-top: -14px/2;
	font-family: FontAwesome, Arial, sans-serif;
	font-size: 16px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
} */

/* ul.product-color li input:checked + label:after {
	content: "\f00c";
	opacity: 1;
} */

/* color picker end */

.max-qty {
	font-weight: 500;
	color: var(--red-color);
}
.success-wrapper,
.cancel-wrapper {
	background: transparent;
	min-height: 60vh;
}
.success,
.cancel {
	width: 1000px;
	margin: auto;
	margin-top: 160px;
	background: transparent;
	padding: 50px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.success .icon {
	color: green;
	font-size: 40px;
}
.success h2 {
	text-transform: capitalize;
	margin-top: 15px 0px;
	font-weight: 900;
	font-size: 40px;
	color: var(--primary-text-color);
}
.success .email-msg {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}
.cancel p {
	font-size: 20px;
	font-weight: 600;
}
.success .description {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin: 10px;
	margin-top: 30px;
}
.success .description .email {
	margin-left: 5px;
	color: #f02d34;
}
.product-max-qty {
	margin-top: 10px;
}
/* PRODUCT PAGE STYLES */
.categories {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.product-filter-btn {
	margin: 20px 5px;
	padding: 10px 50px;
}

@media screen and (max-width: 800px) {
	.footer-banner-container {
		height: 560px;
		margin-top: 80px;
	}
	.footer-banner-image {
		width: 77%;
		left: 30%;
		top: 6%;
		height: 56%;
	}
	.banner-desc .left h3 {
		font-weight: 900;
		font-size: 50px;
		margin-left: 5px;
	}
	.banner-desc .left p {
		margin: 18px;
	}
	.banner-desc .right h3 {
		font-size: 45px;
	}
	.banner-desc .right p {
		font-size: 18px;
	}
	.banner-desc .right .company-desc {
		font-size: 14px;
	}
	.banner-desc {
		flex-wrap: wrap;
		gap: 20px;
	}
	.desc {
		bottom: 60px;
	}
	.product-detail-container {
		flex-wrap: wrap;
	}

	.product-detail-container .product-detail-image {
		width: 350px;
		height: 350px;
	}
	.cart-container {
		width: 100%;
		padding: 4px;
	}
	.cart-heading {
		margin-top: 35px;
	}
	.product-container {
		margin-top: 10px;
	}
	.product {
		padding: 20px 5px;
	}
	.product .cart-product-image {
		width: 25%;
		height: 25%;
	}

	.product-detail-container {
		margin: 20px;
	}

	.item-desc .flex {
		width: 200px;
	}
	.top {
		flex-wrap: wrap;
		gap: 10px;
	}
	.item-desc .bottom {
		margin-top: 30px;
	}
	.flex h5 {
		font-size: 16px;
		color: var(--primary-text-color);
	}
	.flex h4 {
		font-size: 16px;
		color: var(--primary-text-color);
	}
	.cart-bottom {
		padding: 30px;
	}

	.total h3 {
		font-size: 20px;
	}

	.success-wrapper,
	.cancel-wrapper {
		min-height: 69vh;
	}
	.success,
	.cancel {
		width: 370px;
		margin-top: 100px;
		padding: 20px;
	}
	.success {
		height: 350px;
	}
	.success h2 {
		font-size: 17px;
	}
	.btn-container {
		width: 300px;
		margin: auto;
	}

	.mobile-form {
		display: none;
	}
	@media only screen and (max-width: 375px) {
		.nine-squares {
			display: inline-block;
			width: 40px;
			height: 40px;
			position: relative;
		}

		.square {
			width: 10px;
			height: 10px;
			background-color: var(--primary-color);
			position: absolute;
		}

		.square:nth-child(1) {
			top: 0;
			left: 0;
		}

		.square:nth-child(2) {
			top: 0;
			left: 15px;
		}

		.square:nth-child(3) {
			top: 0;
			right: 0;
		}

		.square:nth-child(4) {
			top: 15px;
			left: 0;
		}

		.square:nth-child(5) {
			top: 15px;
			left: 15px;
		}

		.square:nth-child(6) {
			top: 15px;
			right: 0;
		}

		.square:nth-child(7) {
			bottom: 0;
			left: 0;
		}

		.square:nth-child(8) {
			bottom: 0;
			left: 15px;
		}

		.square:nth-child(9) {
			bottom: 0;
			right: 0;
		}
		.mobile-form {
			display: block;
		}
		body {
			font-size: 14px;
		}

		h1 {
			font-size: 2rem;
		}

		p {
			font-size: 1rem;
		}
	}
}
@media (width > 768px) {
	.link {
		padding: 8px 16px;
	}
	.link a {
		color: var(--primary-color);
	}
	.scrolled a {
		color: var(--secondary-text-color);
	}
}
