.hero_banner_container {
	display: flex;
	padding: 90px 0 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.hero_banner_inner {
	width: 100%;
	height: 100%;
	background-image: url(../public/combinedV7.png);
	background-position: top right;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
}
.hero_banner_inner_cont_text {
	position: relative;
	margin: 100px 7% 0;
	height: fit-content;
	background: rgba(0, 0, 0, 0);
	border-radius: 16px;
	box-shadow: 0 -5px 40px 0 rgba(255, 255, 255, 1);
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
	padding: 50px 50px 150px;
}
.hero_banner_inner_cont_text {
	width: 66.6%;
}

.hero_banner_container .pixi-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 100%;
	backdrop-filter: blur(400px);
	-webkit-backdrop-filter: blur(400px);
}

.first_line {
	padding-left: 50px;
}
.second_line {
	padding-left: 350px;
}
.heading_bg {
	background: linear-gradient(to left, var(--cyan-color), var(--greenCyan-color));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.inner_overlay {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: row;
}
.overlay_text {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.hero_banner_container .cream_solo {
	font-size: 1.375rem;
	color: var(--primary-text-color);
	font-family: "Bai Jamjuree", sans-serif;
	line-height: 1.7;
}
.hero_banner_container h3 {
	font-size: 4rem;
	margin-top: 14px;
	font-family: "Bai Jamjuree", sans-serif;
	color: var(--primary-text-color);
}
.hero_banner_container h1 {
	font-size: 4rem;
	width: fit-content;
	margin: 20px 10px 10px -10px;
	text-transform: uppercase;
}
.hero_banner_container .first_line,
.hero_banner_container .second_line {
	color: var(--primary-text-color);
}
.cream_solo .first_letter {
	font-size: 2rem;
}
.cream_solo .word_bg {
	background: linear-gradient(to left, var(--cyan-color), var(--greenCyan-color));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.btn_cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	margin-top: 40px;
}
.btn_cont button {
	border-radius: 6px;
	padding: 12px 60px;
	background: linear-gradient(to left, var(--primary-color), var(--primary-color));
	color: var(--secondary-text-color);
	font-size: 1.25rem;
	border: none;
	font-family: "Bai Jamjuree", sans-serif;
	font-weight: 500;
	cursor: pointer;
	width: 100%;
	transition: all 0.3s;
}

.hero_banner_btn,
.hero_banner_btn_full {
	width: 100%;
}

.hero_banner_btn .btn_empty {
	background: transparent;
	color: var(--product-banner-bg1);
	border: 2px solid var(--product-banner-bg1);
}

.overlay_img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
}
.hero_banner_image {
	width: 100%;
}
@media (width > 2400px) {
	.hero_banner_inner_cont_text {
		margin: 100px 30% 0;
	}
	.hero_banner_inner_cont_text {
		width: 40%;
	}
	.hero_banner_image {
		width: 450px;
	}
}
@media (width > 2000px) {
	.hero_banner_image {
		width: 450px;
	}
}
@media (width < 1400px) {
	.hero_banner_container h1 {
		font-size: 3rem;
	}
	.hero_banner_inner_cont_text {
		margin: 50px 6% 0;
	}
	.first_line {
		padding-left: 25px;
	}
	.second_line {
		padding-left: 200px;
	}
	.hero_banner_image {
		width: 350px;
	}
}

@media (width < 1200px) {
	.hero_banner_container h1 {
		font-size: 2.75rem;
	}
	.hero_banner_inner_cont_text {
		width: 66.6%;
	}
	.hero_banner_inner_cont_text {
		background: rgba(255, 255, 255, 0.35);
		box-shadow: 0 -5px 40px 0 rgba(255, 255, 255, 1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}
	.inner_overlay {
		flex-direction: column;
	}
	.overlay_img {
		margin-top: 25px;
		width: 100%;
	}
}
@media (width < 1000px) {
	.hero_banner_inner_cont_text {
		margin: 45px 5% 0;
		padding: 30px 30px 100px;
		/* background: rgba(255, 255, 255, 0.55); */
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
	}
	.hero_banner_inner_cont_text {
		width: 77%;
	}
}
@media (width <= 800px) {
	.hero_banner_container {
		line-height: 1.3;
	}
	.hero_banner_container button {
		margin-top: 70px;
	}
	.hero_banner_inner {
		width: 100%;
		height: 100vh;
		background-image: url(../public/combinedV7.png);
		background-position: top right;
		background-size: contain;
		background-repeat: no-repeat;
		z-index: 1;
	}
	.hero_banner_inner_cont_text {
		margin: 50px auto 0;
		padding: 30px 30px 100px;
		background: rgba(255, 255, 255, 0.75);
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
	}
	.second_line {
		padding-left: 150px;
	}
	.hero_banner_inner_cont_text {
		width: 90%;
	}
	.hero_banner_container button {
		margin-top: 0px;
	}
	.hero_banner_btn:hover button,
	.hero_banner_btn_full:hover button {
		transform: translateY(-3px);
		box-shadow: 0 10px 15px 2px var(--border-color);
	}
	.overlay_img {
		margin-top: 45px;
	}
	.hero_banner_image {
		width: 400px;
	}
}

@media (width < 600px) {
	.hero_banner_inner_cont_text {
		width: 95%;
	}
	.hero_banner_container h1 {
		font-size: 2.25rem;
	}
	.hero_banner_container .cream_solo {
		font-size: 1.125rem;
	}
	.btn_cont button {
		font-size: 1rem;
		gap: 20px;
		padding: 12px 0;
	}
}

@media (width < 500px) {
	.hero_banner_inner_cont_text {
		width: 97%;
	}
	.second_line {
		padding-left: 100px;
	}
	.hero_banner_container h1 {
		font-size: 1.75rem;
	}
	.hero_banner_container .cream_solo {
		font-size: 1rem;
	}
	.btn_cont {
		gap: 20px;
	}
	.btn_cont button {
		font-size: 0.875rem;
		padding: 12px 10px;
	}
	.hero_banner_image {
		width: 350px;
	}
}

@media (width < 400px) {
	.btn_cont {
		flex-direction: column;
		gap: 0px;
	}
	.hero_banner_btn_full button {
		margin-top: 25px;
	}
}
@media (width < 360px) {
	.hero_banner_container h1 {
		font-size: 1.375rem;
	}
}
