/* index.js STYLES */
.home_heading {
	position: relative;
	text-align: center;
	margin: 40px 0px;
	margin-top: 4.5rem;
	color: var(--primary-text-color);
	z-index: 2;
}
.home_heading h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}
.heading_bg {
	font-size: 1.5rem;
	background: linear-gradient(to left, var(--cyan-color), var(--greenCyan-color));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.home_heading p {
	font-size: 0.875rem;
}

/* PRODUCTS.JS STYLES */
.products_heading {
	text-align: center;
	position: relative;
	margin: 40px 0px;
	color: var(--primary-text-color);
	margin: 0px 0 80px;
	padding: 20px 0;
}
.products_heading h1 {
	font-size: 2.5rem;
	font-weight: 800;
}
.border {
	position: absolute;
	left: -30%;
	bottom: 0;
	right: -30%;
	/* width: 160%; */
	border: 2px solid var(--border-color);
}
.products_container,
.products_container_home {
	position: relative;
	--column-count: 1;
	display: grid;
	align-items: flex-start;
	gap: 35px 0;
	grid-template-columns: repeat(var(--column-count), 1fr);
	margin: 700px auto 0;
	width: 100%;
	justify-items: center;
	align-items: center;
	transition: margin 0.5s;
	transition-delay: 0;
	min-height: 600px;
}
.products_container_home {
	margin: 20px auto 0;
	min-height: fit-content;
}
.wrapper {
	width: 250px;
	height: 325px;
	background: white;
	margin: 0;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0;
	transform: translateY(5px);
	transition: all 0.5s, transform 0.5s;
}
.filterBtn {
	position: absolute;
	background: var(--primary-color);
	color: var(--white-color);
	width: 300px;
	text-align: center;
	height: 40px;
	/* margin: 20px 0; */
	border: 0;
	font-size: 18px;
	border-radius: 4px;
	transition: 0.6s;
	overflow: hidden;
	border: 1px solid var(--primary-faded-color);
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}

/* PRODUCTS PAGE CSS */
.filter_cont {
	width: 300px;
	position: absolute;
	top: -580px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s, transform 0.2s, visibility 0.1s;
	transition-delay: 0.4s;
}
.filter_inner_cont {
	margin: 0 auto;
}
/* SLIDER CSS */
.slider_cont {
	margin: 35px 0;
}
/* SEARCH BAR CSS */
.search_cont {
	margin: 0 0 35px;
}
.search_cont input {
	width: 100%;
	padding: 8px 30px 8px 12px;
	border: 2px solid rgba(0, 0, 0, 0.08);
	outline: none;
	font-size: 16px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
	color: var(--primary-color);
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 8px;
	border-radius: 4px;
	transition: all 0.2s ease;
}
.search_cont input::placeholder {
	color: var(--product-banner-bg2);
}
.search_cont input:focus {
	border-color: var(--primary-faded-color);
}
.search_output {
	color: #7c7c7c;
	margin-bottom: 8px;
	font-size: 0.875rem;
}
/* TAGS CSS */
.tags_cont .tags_heading {
	color: var(--primary-text-color);
	margin-bottom: 6px;
}
.tags_cont label {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	color: #505050;
	font-size: 1rem;
	line-height: 1.25;
	margin-bottom: 6px;
	width: fit-content;
	cursor: pointer;
}
.radio_cont {
	margin-bottom: 8px;
}
.option_input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	height: 22px;
	width: 22px;
	transition: all 0.15s ease-out 0s;
	/* background: #cbd1d8; */
	border: 2px solid var(--primary-faded-color-nav);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 1000;
}
.option_input:hover {
	background: #00764d48;
}
.option_input:checked {
	background: var(--primary-color);
}
.option_input:checked::before {
	width: 17px;
	height: 17px;
	display: flex;
	content: "\2713";
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	align-items: center;
	justify-content: center;
	/* font-family: "Font Awesome 5 Free"; */
}
.option_input:checked::after {
	-webkit-animation: click-wave 0.45s;
	-moz-animation: click-wave 0.45s;
	animation: click-wave 0.45s;
	background: var(--primary-faded-color);
	content: "";
	display: block;
	position: relative;
	z-index: 10;
}
.option_input.radio {
	border-radius: 50%;
}
.option_input.radio::after {
	border-radius: 50%;
}
@keyframes click-wave {
	0% {
		height: 22px;
		width: 22px;
		opacity: 1;
		position: relative;
	}
	100% {
		height: 50px;
		width: 50px;
		margin-left: -18px;
		margin-top: -18px;
		opacity: 0;
	}
}
.resetAll {
	display: none;
}
.resetMobile {
	background-color: var(--product-banner-bg2);
	position: absolute;
	top: -90px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s, transform 0.2s, visibility 0.1s;
	transition-delay: 0.4s;
}
.hidden {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s, transform 1s, visibility 0.1s;
	transition-delay: 0s;
}

.adjustedMargin {
	margin: 175px auto 0;
	transition: margin 0.5s;
	transition-delay: 0.2s; /* 0.5s delay when the class is added */
}
@media (width > 450px) {
	.heading_bg,
	.home_heading h2 {
		font-size: 2rem;
		margin-bottom: 10px;
	}

	.home_heading p {
		font-size: 1rem;
	}
}
@media (width > 650px) {
	.products_container {
		--column-count: 2;
		max-width: 650px;
		margin: 590px auto 0;
		align-items: flex-start;
	}
	.products_container_home {
		--column-count: 2;
		max-width: 650px;
		align-items: flex-start;
	}
	.heading_bg,
	.home_heading h2 {
		font-size: 2.5rem;
		margin-bottom: 10px;
	}

	.home_heading p {
		font-size: 1.125rem;
	}
	.filter_cont {
		display: flex;
		width: 100vw;
		padding: 0 50px;
	}
	.filter_inner_cont {
		width: 450px;
	}
	.filterBtn {
		width: 450px;
	}
	.topFilterBtn {
		display: none;
	}
}
@media (width > 900px) {
	.products_container {
		margin: 420px auto 0;
	}
	.topFilterBtn {
		display: none;
	}
	.filter_cont {
		top: -425px;
	}
	.filter_inner_cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		width: 100%;
	}
	.slider_cont {
		margin: 75px 0 0;
		grid-area: 1 / 1 / 2 / 3;
	}
	.search_cont {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin: 0 auto;
		width: 375px;
		grid-area: 2 / 1 / 3 / 2;
	}
	.tags_cont {
		width: 375px;
		margin: 0 auto;
		grid-area: 2 / 2 / 3 / 3;
	}
	.resetMobile {
		display: none;
	}
}
@media (width >1000px) {
	.search_cont,
	.tags_cont {
		width: 425px;
	}
}
@media (width > 1100px) {
	.products_container {
		--column-count: 3;
		max-width: 850px;
		margin: 10px 0 0 250px;
		margin-left: 22%;
	}
	.products_container_home {
		--column-count: 3;
		max-width: 850px;
	}
	.filter_cont {
		display: block;
		width: 200px;
		top: 0px;
		left: -115px;
		padding: 54px 0 0 0;
	}
	.filter_inner_cont {
		display: block;
		width: 100%;
	}
	.slider_cont {
		margin: 40px 0 0;
	}
	.search_cont {
		width: 100%;
		margin: 40px 0;
	}
	.tags_cont {
		width: 100%;
	}
	.resetAll {
		display: block;
	}

	/* isOpen */
	/* {isOpen && ()}*/

	.wrapper {
		width: 250px;
		height: 325px;
	}
	.resetMobile {
		display: none;
	}
}
@media (width > 1400px) {
	.products_container {
		--column-count: 4;
		max-width: 1150px;
		margin: 10px 0 0 250px;
	}
	.products_container_home {
		--column-count: 4;
		max-width: 1150px;
		justify-items: center;
	}
	.filter_cont {
		width: 200px;
	}
	.wrapper {
		width: 250px;
		height: 325px;
	}
}
@media (width > 1700px) {
	.filter_cont {
		width: 300px;
		left: -155px;
	}
	.products_container_home {
		--column-count: 5;
		max-width: 1350px;
	}
}

.wrapper:hover {
	transform: translateY(0px);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.wrapper .container {
	width: 100%;
	height: 100%;
}

.wrapper .container .top {
	height: 78%;
	width: 100%;
}

.wrapper .container img {
	height: 100%;
	width: 100%;
}

.wrapper .container .bottom {
	width: 200%;
	height: 22%;
	transition: transform 0.5s;
}

.wrapper .container .bottom.clicked {
	transform: translateX(-50%);
}

.wrapper .container .bottom .left {
	height: 100%;
	width: 50%;
	background: #f4f4f4b6;
	position: relative;
	float: left;
}

.wrapper .container .bottom .left .details {
	padding: 10px 20px;
	float: left;
	width: calc(84% - 40px);
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.wrapper .container .bottom .left .buy {
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	width: calc(30% - 2px);
	height: 100%;
	background: #f4f4f4b6;
	transition: all 0.3s;
	border-left: solid thin rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.wrapper .container .bottom .left .buy:hover {
	background: var(--primary-faded-color);
	color: var(--white-color);
}

.wrapper .container .bottom .right {
	width: 50%;
	background: var(--primary-faded-color);
	color: white;
	float: right;
	height: 200%;
	overflow: hidden;
}

.wrapper .container .bottom .right .details {
	padding: 10px 15px;
	width: calc(84% - 40px);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	height: 50%;
}

.wrapper .container .bottom .right .done {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(30% - 2px);
	float: left;
	transition: transform 0.5s;
	border-right: solid thin rgba(255, 255, 255, 0.3);
	height: 50%;
}

.wrapper .container .bottom .right .remove {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(30% - 1px);
	clear: both;
	border-right: solid thin rgba(255, 255, 255, 0.3);
	height: 50%;
	background: var(--red-color);
	transition: transform 0.5s, background 0.5s;
	cursor: pointer;
}

.wrapper .container .bottom .right .remove:hover {
	background: #d84c4c;
}

.wrapper .container .bottom:hover .remove,
.wrapper .container .bottom:hover .done {
	transform: translateY(-100%);
}
.wrapper .product_name_added {
	color: var(--secondary-text-color);
	font-size: 0.85rem;
}
.wrapper .product_name {
	font-weight: 500;
	/* padding-bottom: 5px; */
	color: #636363;
	font-size: 0.875rem;
}
.wrapper .product_price_card {
	text-align: end;
	color: var(--primary-text-color);
}

.wrapper .inside {
	z-index: 9;
	background: var(--primary-faded-color);
	width: 140px;
	height: 140px;
	position: absolute;
	top: -75px;
	right: -75px;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	border-radius: 0 0 200px 200px;
	transition: all 0.5s, border-radius 2s, top 1s;
	overflow: hidden;
}

.wrapper .inside:hover {
	width: 100%;
	right: 0;
	top: 0;
	border-radius: 0;
	height: 78%;
}

.wrapper .inside .icon {
	position: absolute;
	right: 85px;
	top: 85px;
	color: white;
	opacity: 1;
	transition: all 0.5s;
}

.wrapper .inside:hover .icon {
	opacity: 0;
	right: 15px;
	top: 15px;
}

.wrapper .inside .contents {
	padding: 20px;
	opacity: 0;
	transform: scale(0.5);
	transform: translateY(-200%);
	transition: opacity 0.2s, transform 0.8s;
}

.wrapper .inside:hover .contents {
	opacity: 1;
	transform: scale(1);
	transform: translateY(0);
}

.wrapper .inside .contents p {
	color: white;
	font-size: 1rem;
	line-height: 1.3;
}
/* .resetAll {
	margin-bottom: 25px;
} */
.searchTerm {
	font-size: 1.25rem;
	color: #d84c4c;
}

.filter_cont button {
	position: relative;
	background: var(--primary-color);
	color: var(--white-color);
	width: 100%;
	height: 40px;
	border: 0;
	font-size: 18px;
	border-radius: 4px;
	transition: 0.6s;
	overflow: hidden;
	border: 1px solid var(--primary-faded-color);
}

.filter_cont button:focus {
	outline: 0;
}

.filter_cont button:before {
	content: "";
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 80px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.7;
	filter: blur(30px);
	transform: translateX(-100px) skewX(-15deg);
}

.filter_cont button:after {
	content: "";
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100px) skewX(-15deg);
}

.filter_cont button:hover {
	background: var(--primary-faded-color);
	cursor: pointer;
}

.filter_cont button:hover:before {
	transform: translateX(300px) skewX(-15deg);
	opacity: 0.8;
	transition: 0.7s;
}

.filter_cont button:hover:after {
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: 0.7s;
}
