.products_container {
	background: url(../public/patternV2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 150%;
	box-shadow: inset 0 0 20px 14px var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.container .overlay_panel h1 {
	font-weight: bold;
	margin: 0;
	margin-bottom: 20px;
}
.container .overlay_panel h2 {
	font-size: 1.5rem;
	padding: 0 0 8px;
}
.product_name {
	width: 80%;
	margin: 0 auto;
	border-bottom: 2px solid var(--border-color);
}

.product_heading {
	color: var(--primary-text-color);
	background: var(--product-banner-bg2);
	background: -webkit-linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background: linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container h2 {
	text-align: center;
}
.container p {
	max-height: 200px;
	font-size: 1rem;
	line-height: 20px;
	letter-spacing: 0.5px;
	padding: 0 10px 0 0;
	margin: 20px 0 30px;
	overflow: scroll;
}
.container .sizes_content p {
	overflow: visible;
}

.container span {
	font-size: 0.85rem;
}

.container a {
	color: #333;
	font-size: 0.9375rem;
	text-decoration: none;
	margin: 15px 0;
}

.container button {
	border-radius: 8px;
	border: 1px solid var(--red-color);
	background-color: var(--red-color);
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	font-size: 0.875rem;
}
.container .more_btn {
	width: 100%;
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	transition: all 0.15s ease-in-out;
}
.container .more_btn:hover {
	/* border: 1px solid var(--primary-color); */
	color: var(--primary-color);
	background-color: #fff;
}

.container button:active {
	transform: scale(0.95);
}

.container button:focus {
	outline: none;
}

.container .ghost {
	background: transparent;
	border-color: var(--white-color);
	transition: all 0.15s ease-in-out;
	width: 100%;
}
.container .ghost:hover {
	background: #fff;
	color: var(--primary-color);
}

.container .div_container_new,
.container .div_container_top {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 20px 15px;
	height: 100%;
	text-align: center;
}

.products_banner_img {
	width: 130px;
	margin: 30px 0 10px;
}
.container .sales_num {
	position: absolute;
	padding: 5px 10px 5px;
	margin: 0;
	font-size: 0.875rem;
	bottom: 0;
	box-shadow: 0 0 10px 4px var(--banner-shadows);
	border-radius: 25px 25px 0 0;
	color: var(--secondary-text-color);
	background-color: var(--primary-color);
	left: 50%;
	transform: translateX(-50%);
	/* color: var(--banner-shadows); */
	opacity: 0.5;
	transition: all 0.3s ease-in-out;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	text-align: center;
	width: 250px;
}

.container .sales_num:hover {
	opacity: 1;
}
.container {
	background-color: transparent;
	border-radius: 35px;
	box-shadow: 0 3px 18px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);

	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 1300px;
	margin: 80px 10px 100px;
	min-height: 400px;
	height: 550px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}
.options_cont {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}
.colors_top,
.sizes_top {
	text-align: center;
}
.colors_cont,
.sizes_cont {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.colors_heading,
.sizes_heading {
	margin: 0px;
	font-size: 1.25rem;
	color: var(--primary-text-color);
	border-bottom: 1px solid var(--border-color);
	padding: 0 30px 2px;
}
.colors_outter_cont,
.sizes_outter_cont {
	display: flex;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
	width: 190px;
}
.colors_content,
.sizes_content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.colors_content .color_code,
.sizes_content .sizes_name {
	margin: 0;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	border: 1px solid var(--border-for-colors);
}
.sizes_content p,
.colors_content p {
	margin: 0;
}

.sizes_cont p {
	background-color: var(--white-color);
	border: 2px solid var(--primary-faded-color);
	color: var(--primary-text-color);
	padding: 0px 20px;
	height: 34px;
	line-height: 30px;
}

.form_container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign_in_container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right_panel_active .sign_in_container {
	transform: translateX(100%);
}

.sign_up_container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right_panel_active .sign_up_container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay_container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 6;
}

.container.right_panel_active .overlay_container {
	transform: translateX(-100%);
}

.overlay {
	background: var(--product-banner-bg2);
	background: -webkit-linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background: linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right_panel_active .overlay {
	transform: translateX(50%);
}

.overlay_panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}
.overlay_panel a {
	width: 100%;
}

.overlay_left {
	transform: translateX(-20%);
	background: url(../public/rombPatternV2.png);
	background-size: 115%;
	background-position: 75% 90%;
}

.container.right_panel_active .overlay_left {
	transform: translateX(0);
}

.overlay_right {
	background: url(../public/patternReduced.png);
	background-size: 150%;
	background-position: 35% 65%;
	right: 0;
	transform: translateX(0);
}

.container.right_panel_active .overlay_right {
	transform: translateX(20%);
}

.social_container {
	margin: 20px 0;
}

/* .social_container a {
	border: 1px solid #dddddd;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
} */

@media (width < 900px) {
	.container h1 {
		font-size: 1.75rem;
	}
	.container .overlay_panel h2 {
		font-size: 1.25rem;
		padding: 0 0 8px;
	}
	.products_banner_img {
		margin-top: 30px;
		width: 120px;
	}
	.colors_heading,
	.sizes_heading {
		font-size: 1rem;
	}
	.colors_content .color_code,
	.sizes_content .sizes_name {
		width: 25px;
		height: 25px;
	}
	.sizes_cont p {
		padding: 0px 10px;
		height: 25px;
		line-height: 20px;
	}
	.container .overlay_panel p {
		font-size: 0.9375rem;
		line-height: 20px;
		letter-spacing: 0.5px;
		margin: 10px 0 10px;
	}
}
@media (width < 800px) {
	.options_cont {
		flex-direction: column;
		gap: 20px;
	}
	.products_banner_img {
		margin: 30px 0 10px;
		width: 115px;
	}
	.colors_heading,
	.sizes_heading {
		width: 240px;
	}
	.colors_outter_cont,
	.sizes_outter_cont {
		width: 100%;
	}
}
@media (width < 700px) {
	.container h1 {
		font-size: 1.25rem;
	}
	.container {
		margin: 75px 10px 0;
		min-height: 400px;
	}
	.overlay_panel {
		padding: 40px 20px 0;
	}

	.container p {
		text-align: justify;
	}
	.container button {
		border-radius: 10px;
		font-size: 0.625rem;
		padding: 12px 25px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.container .div_container_new,
	.container .div_container_top {
		padding: 0 10px 15px;
	}
	.container .more_btn {
		padding: 12px 25px;
	}
	.products_banner_img {
		margin: 30px 0 30px;
	}
	.colors_outter_cont,
	.sizes_outter_cont {
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}
	.container .sales_num {
		width: 90%;
		font-size: 0.875rem;
	}
	.container .overlay_panel h2 {
		font-size: 1.125rem;
		padding: 0 0 8px;
	}
	.container .overlay_panel p {
		font-size: 0.875rem;
		line-height: 20px;
		letter-spacing: 0.5px;
		margin: 10px 0 10px;
	}
}
@media (width < 500px) {
	.container h1 {
		font-size: 1.125rem;
	}
	.container .overlay_panel h1 {
		font-size: 1.25rem;
	}

	.container {
		margin: 55px 10px 0;
		min-height: 350px;
		border-radius: 20px;
		box-shadow: 0 3px 18px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.1);
	}
	.products_banner_img {
		margin: 30px 0 30px;
		width: 100px;
	}
	.colors_heading,
	.sizes_heading {
		width: fit-content;
		font-size: 0.9rem;
		padding: 0 0 2px;
	}
	.colors_content .color_code,
	.sizes_content .sizes_name {
		width: 20px;
		height: 20px;
	}
	.container span {
		font-size: 0.85rem;
	}
	.sizes_cont p {
		padding: 0px 10px;
		height: 25px;
		line-height: 21px;
	}
	.container button {
		border-radius: 10px;
		font-size: 0.625rem;
		padding: 10px 15px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.colors_outter_cont,
	.sizes_outter_cont {
		gap: 10px;
	}
	.colors_outter_cont {
		padding: 0 20px;
	}
	.container .more_btn {
		padding: 12px 20px;
	}
	.container .sales_num {
		width: 90%;
		font-size: 0.7rem;
	}
}
