.products_container {
	position: relative;
	--column-count: 1;
	display: grid;
	gap: 35px 0;
	grid-template-columns: repeat(var(--column-count), 1fr);
	margin: 210px auto 0;
	width: 100%;
	justify-items: center;
	align-items: center;
}
.wrapper {
	width: 300px;
	height: 400px;
	background: white;
	margin: 0;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0;
	transform: translateY(10px);
	transition: all 0.5s, transform 0.5s;
}

/* PRODUCTS PAGE CSS */
.filter_cont {
	position: absolute;
	top: -200px;
	left: 50%;
	transform: translateX(-50%);
}
@media (width > 650px) {
	.products_container {
		--column-count: 2;
		max-width: 650px;
		margin: 210px auto 0;
	}
	.filter_cont {
		position: absolute;
		top: -200px;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media (width > 1100px) {
	.products_container {
		--column-count: 3;
		max-width: 850px;
		margin: 10px 0 0 250px;
		margin-left: 22%;
	}
	.filter_cont {
		width: 175px;
		top: 0px;
		left: -115px;
		padding-top: 54px;
	}
	.wrapper {
		width: 250px;
		height: 325px;
	}
}
@media (width > 1400px) {
	.products_container {
		--column-count: 4;
		max-width: 1150px;
		margin: 10px 0 0 250px;
	}
	.filter_cont {
		width: 200px;
	}
	.wrapper {
		width: 250px;
		height: 325px;
	}
}
/* SLIDER CSS */
.slider_cont {
	margin: 35px 0;
}
/* SEARCH BAR CSS */
.search_cont {
	margin: 0 0 35px;
}
.search_cont input {
	width: 100%;
	padding: 8px 30px 8px 12px;
	border: 2px solid rgba(0, 0, 0, 0.08);
	outline: none;
	font-size: 16px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
	color: var(--primary-color);
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 8px;
	border-radius: 4px;
	transition: all 0.2s ease;
}
.search_cont input::placeholder {
	color: var(--product-banner-bg2);
}
.search_cont input:focus {
	border-color: var(--primary-faded-color);
}
.search_output {
	color: #7c7c7c;
	margin-bottom: 8px;
	font-size: 0.875rem;
}
/* TAGS CSS */
.tags_cont .tags_heading {
	color: var(--primary-text-color);
	margin-bottom: 6px;
}
.tags_cont label {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	color: #505050;
	font-size: 1rem;
	line-height: 1.25;
	margin-bottom: 6px;
	width: fit-content;
	cursor: pointer;
}
.radio_cont {
	margin-bottom: 8px;
}
.option_input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	height: 22px;
	width: 22px;
	transition: all 0.15s ease-out 0s;
	/* background: #cbd1d8; */
	border: 2px solid var(--primary-faded-color-nav);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 1000;
}
.option_input:hover {
	background: var(--product-banner-bg1);
}
.option_input:checked {
	background: var(--primary-color);
}
.option_input:checked::before {
	width: 17px;
	height: 17px;
	display: flex;
	content: "\2713";
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	align-items: center;
	justify-content: center;
	/* font-family: "Font Awesome 5 Free"; */
}
.option_input:checked::after {
	-webkit-animation: click-wave 0.45s;
	-moz-animation: click-wave 0.45s;
	animation: click-wave 0.45s;
	background: var(--primary-faded-color);
	content: "";
	display: block;
	position: relative;
	z-index: 10;
}
.option_input.radio {
	border-radius: 50%;
}
.option_input.radio::after {
	border-radius: 50%;
}
@keyframes click-wave {
	0% {
		height: 22px;
		width: 22px;
		opacity: 0.65;
		position: relative;
	}
	100% {
		height: 50px;
		width: 50px;
		margin-left: -18px;
		margin-top: -18px;
		opacity: 0;
	}
}

.wrapper:hover {
	transform: translateY(0px);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.wrapper .container {
	width: 100%;
	height: 100%;
}

.wrapper .container .top {
	height: 78%;
	width: 100%;
}

.wrapper .container img {
	height: 100%;
	width: 100%;
}

.wrapper .container .bottom {
	width: 200%;
	height: 22%;
	transition: transform 0.5s;
}

.wrapper .container .bottom.clicked {
	transform: translateX(-50%);
}

.wrapper .container .bottom .left {
	height: 100%;
	width: 50%;
	background: #f4f4f4b6;
	position: relative;
	float: left;
}

.wrapper .container .bottom .left .details {
	padding: 10px 20px;
	float: left;
	width: calc(84% - 40px);
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.wrapper .container .bottom .left .buy {
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	width: calc(30% - 2px);
	height: 100%;
	background: #f4f4f4b6;
	transition: background 0.5s;
	border-left: solid thin rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.wrapper .container .bottom .left .buy:hover {
	background: var(--primary-faded-color);
}

.wrapper .container .bottom .right {
	width: 50%;
	background: var(--primary-faded-color);
	color: white;
	float: right;
	height: 200%;
	overflow: hidden;
}

.wrapper .container .bottom .right .details {
	padding: 10px 15px;
	width: calc(84% - 40px);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.wrapper .container .bottom .right .done {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(30% - 2px);
	float: left;
	transition: transform 0.5s;
	border-right: solid thin rgba(255, 255, 255, 0.3);
	height: 50%;
}

.wrapper .container .bottom .right .remove {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(30% - 1px);
	clear: both;
	border-right: solid thin rgba(255, 255, 255, 0.3);
	height: 50%;
	background: var(--red-color);
	transition: transform 0.5s, background 0.5s;
	cursor: pointer;
}

.wrapper .container .bottom .right .remove:hover {
	background: #d84c4c;
}

.wrapper .container .bottom:hover .remove,
.wrapper .container .bottom:hover .done {
	transform: translateY(-100%);
}
.wrapper .product_name_added {
	color: var(--secondary-text-color);
}
.wrapper .product_name {
	font-weight: 500;
	/* padding-bottom: 5px; */
	color: #7c7c7c;
	font-size: 0.875rem;
}
.wrapper .product_price_card {
	text-align: end;
	color: var(--primary-text-color);
}

.wrapper .inside {
	z-index: 9;
	background: var(--primary-faded-color);
	width: 140px;
	height: 140px;
	position: absolute;
	top: -75px;
	right: -75px;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	border-radius: 0 0 200px 200px;
	transition: all 0.5s, border-radius 2s, top 1s;
	overflow: hidden;
}

.wrapper .inside:hover {
	width: 100%;
	right: 0;
	top: 0;
	border-radius: 0;
	height: 80%;
}

.wrapper .inside .icon {
	position: absolute;
	right: 85px;
	top: 85px;
	color: white;
	opacity: 1;
	transition: all 0.5s;
}

.wrapper .inside:hover .icon {
	opacity: 0;
	right: 15px;
	top: 15px;
}

.wrapper .inside .contents {
	padding: 20px;
	opacity: 0;
	transform: scale(0.5);
	transform: translateY(-200%);
	transition: opacity 0.2s, transform 0.8s;
}

.wrapper .inside:hover .contents {
	opacity: 1;
	transform: scale(1);
	transform: translateY(0);
}

.wrapper .inside .contents p {
	color: white;
	font-size: 1.125rem;
	line-height: 1.3;
}
/* .resetAll {
	margin-bottom: 25px;
} */
.searchTerm {
	font-size: 1.25rem;
	color: #d84c4c;
}

.filter_cont button {
	position: relative;
	background: var(--primary-color);
	color: var(--white-color);
	width: 100%;
	height: 40px;
	border: 0;
	font-size: 18px;
	border-radius: 4px;
	transition: 0.6s;
	overflow: hidden;
	border: 1px solid var(--primary-faded-color);
}

.filter_cont button:focus {
	outline: 0;
}

.filter_cont button:before {
	content: "";
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 80px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.7;
	filter: blur(30px);
	transform: translateX(-100px) skewX(-15deg);
}

.filter_cont button:after {
	content: "";
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100px) skewX(-15deg);
}

.filter_cont button:hover {
	background: var(--primary-faded-color);
	cursor: pointer;
}

.filter_cont button:hover:before {
	transform: translateX(300px) skewX(-15deg);
	opacity: 0.8;
	transition: 0.7s;
}

.filter_cont button:hover:after {
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: 0.7s;
}
