.wrapper {
	width: 300px;
	height: 400px;
	background: white;
	margin: 0;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0;
	transform: translateY(10px);
	transition: all 0.5s, transform 0.5s;
}

.wrapper:hover {
	transform: translateY(0px);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.wrapper .container {
	width: 100%;
	height: 100%;
}

.wrapper .container .top {
	height: 80%;
	width: 100%;
}

.wrapper .container img {
	height: 100%;
	width: 100%;
}

.wrapper .container .bottom {
	width: 200%;
	height: 20%;
	transition: transform 0.5s;
}

.wrapper .container .bottom.clicked {
	transform: translateX(-50%);
}

.wrapper .container .bottom .left {
	height: 100%;
	width: 50%;
	background: #f4f4f4b6;
	position: relative;
	float: left;
}

.wrapper .container .bottom .left .details {
	padding: 10px 20px;
	float: left;
	width: calc(84% - 40px);
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.wrapper .container .bottom .left .buy {
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	width: calc(30% - 2px);
	height: 100%;
	background: #f4f4f4b6;
	transition: background 0.5s;
	border-left: solid thin rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.wrapper .container .bottom .left .buy:hover {
	background: var(--primary-faded-color);
}

.wrapper .container .bottom .right {
	width: 50%;
	background: var(--primary-faded-color);
	color: white;
	float: right;
	height: 200%;
	overflow: hidden;
}

.wrapper .container .bottom .right .details {
	padding: 10px 15px;
	width: calc(84% - 40px);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.wrapper .container .bottom .right .done {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(30% - 2px);
	float: left;
	transition: transform 0.5s;
	border-right: solid thin rgba(255, 255, 255, 0.3);
	height: 50%;
}

.wrapper .container .bottom .right .remove {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(30% - 1px);
	clear: both;
	border-right: solid thin rgba(255, 255, 255, 0.3);
	height: 50%;
	background: var(--red-color);
	transition: transform 0.5s, background 0.5s;
	cursor: pointer;
}

.wrapper .container .bottom .right .remove:hover {
	background: #d84c4c;
}

.wrapper .container .bottom:hover .remove,
.wrapper .container .bottom:hover .done {
	transform: translateY(-100%);
}

.wrapper .inside {
	z-index: 9;
	background: var(--primary-faded-color);
	width: 140px;
	height: 140px;
	position: absolute;
	top: -75px;
	right: -75px;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	border-radius: 0 0 200px 200px;
	transition: all 0.5s, border-radius 2s, top 1s;
	overflow: hidden;
}

.wrapper .inside:hover {
	width: 100%;
	right: 0;
	top: 0;
	border-radius: 0;
	height: 80%;
}

.wrapper .inside .icon {
	position: absolute;
	right: 85px;
	top: 85px;
	color: white;
	opacity: 1;
	transition: all 0.5s;
}

.wrapper .inside:hover .icon {
	opacity: 0;
	right: 15px;
	top: 15px;
}

.wrapper .inside .contents {
	padding: 20px;
	opacity: 0;
	transform: scale(0.5);
	transform: translateY(-200%);
	transition: opacity 0.2s, transform 0.8s;
}

.wrapper .inside:hover .contents {
	opacity: 1;
	transform: scale(1);
	transform: translateY(0);
}

.wrapper .inside .contents p {
	color: white;
	font-size: 1.125rem;
}
