.products_container {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}
.container h1 {
	font-weight: bold;
	margin: 0;
}

.product_heading {
	color: var(--primary-text-color);
	background: var(--product-banner-bg2);
	background: -webkit-linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background: linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container h2 {
	text-align: center;
}
.container p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.container span {
	font-size: 12px;
}

.container a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.container button {
	border-radius: 8px;
	border: 1px solid var(--red-color);
	background-color: var(--red-color);
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}
.container .more_btn {
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	transition: all 0.15s ease-in-out;
	width: 100%;
}
.container .more_btn:hover {
	/* border: 1px solid var(--primary-color); */
	color: var(--primary-color);
	background-color: #fff;
}

.container button:active {
	transform: scale(0.95);
}

.container button:focus {
	outline: none;
}

.container .ghost {
	background: transparent;
	border-color: var(--white-color);
	transition: all 0.15s ease-in-out;
	width: 100%;
}
.container .ghost:hover {
	background: #fff;
	color: var(--primary-color);
	/* background: var(--primary-color); */
}

.container .div_container {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 40px 50px 0;
	height: 100%;
	text-align: center;
}
.products_banner_img {
	/* position: absolute; */
	/* top: 0; */
	/* right: 0; */
	width: 250px;
	/* height: 450px; */
}
.container .sales_num {
	position: absolute;
	padding: 5px 10px 5px;
	margin: 0;
	font-size: 0.875rem;
	bottom: 0;
	box-shadow: 0 0 10px 4px var(--banner-shadows);
	border-radius: 25px 25px 0 0;
	color: var(--secondary-text-color);
	background-color: var(--primary-color);
	left: 50%;
	transform: translateX(-50%);
	/* color: var(--banner-shadows); */
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	text-align: center;
	width: 250px;
}

.container .sales_num:hover {
	opacity: 1;
}

/* .container input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
} */

.container {
	/* display: flex; */
	background-color: transparent;
	border-radius: 35px;
	box-shadow: 0 3px 18px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 1200px;
	margin: 75px 10px 0;
	min-height: 400px;
}
.colors_top,
.sizes_top {
	position: absolute;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-color: transparent;
	width: 25%;
	height: 50%;
	z-index: 3;
	text-align: center;
	opacity: 0.8;
}
.sizes_top {
	left: unset;
	right: 0;
}

.colors_heading,
.sizes_heading {
	margin-bottom: 10px;
	font-size: 1.25rem;
	color: var(--primary-color);
	/* opacity: 0.8; */
}
.colors_content {
	display: flex;
	justify-content: center;
	margin-right: 30px;
	/* opacity: 0.8; */
}
.colors_content .color_code,
.sizes_content .sizes_name {
	/* margin: 0 auto; */
	margin: 10px 0;
	width: 25px;
	height: 25px;
	border-radius: 100%;
}

.color_code span {
	padding: 0px 30px;
	line-height: 2.1;
}
.size_name span {
	/* opacity: 0.8; */
	background-color: var(--primary-color);
	color: var(--secondary-text-color);
	padding: 10px 20px;
	/* border: 1px solid red; */
}

.form_container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign_in_container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right_panel_active .sign_in_container {
	transform: translateX(100%);
}

.sign_up_container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right_panel_active .sign_up_container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay_container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 6;
}

.container.right_panel_active .overlay_container {
	transform: translateX(-100%);
}

.overlay {
	background: var(--product-banner-bg2);
	background: -webkit-linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background: linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right_panel_active .overlay {
	transform: translateX(50%);
}

.overlay_panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 40px 40px 0;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}
.overlay_panel a {
	width: 100%;
}

.overlay_left {
	transform: translateX(-20%);
}

.container.right_panel_active .overlay_left {
	transform: translateX(0);
}

.overlay_right {
	right: 0;
	transform: translateX(0);
}

.container.right_panel_active .overlay_right {
	transform: translateX(20%);
}

.social_container {
	margin: 20px 0;
}

/* .social_container a {
	border: 1px solid #dddddd;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
} */

@media (width < 900px) {
	.container h1 {
		font-size: 1.5rem;
	}
	.container p {
		font-size: 0.8125rem;
	}
	.products_banner_img {
		margin-top: 30px;
	}
}
@media (width < 700px) {
	.container h1 {
		font-size: 1.25rem;
	}
	.container {
		margin: 75px 10px 0;
		min-height: 400px;
	}
	.products_banner_img {
		margin-top: 50px;
	}
	.overlay_panel {
		padding: 40px 20px 0;
	}
	.container .div_container {
		padding: 40px 20px 0;
	}
	.container p {
		font-size: 12px;
		text-align: justify;
		line-height: 16px;
		letter-spacing: 0.5px;
		margin: 20px 0 30px;
	}
	.container button {
		border-radius: 10px;
		font-size: 0.625rem;
		padding: 10px 15px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.container .more_btn {
		padding: 12px 25px;
	}
	.products_banner_img {
		width: 200px;
	}
	.container .sales_num {
		width: 90%;
		font-size: 0.875rem;
	}
}
@media (width < 500px) {
	.container h1 {
		font-size: 1.125rem;
	}

	.container {
		margin: 55px 10px 0;
		min-height: 350px;
		border-radius: 20px;
		box-shadow: 0 3px 18px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.1);
	}
	/* .overlay_panel {
		padding: 40px 20px 0;
	} */
	.products_banner_img {
		margin-top: 20px;
	}
	.container p {
		font-size: 12px;
		text-align: justify;
		line-height: 16px;
		letter-spacing: 0.5px;
		margin: 20px 0 10px;
	}
	.container button {
		border-radius: 10px;
		font-size: 0.625rem;
		padding: 10px 15px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.container .more_btn {
		padding: 12px 20px;
	}
	.container .sales_num {
		width: 90%;
		font-size: 0.75rem;
	}
}
