.products_container {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}
.container h1 {
	font-weight: bold;
	margin: 0;
}

.product_heading {
	color: var(--primary-text-color);
	background: var(--product-banner-bg2);
	background: -webkit-linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background: linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container h2 {
	text-align: center;
}
.container p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.container span {
	font-size: 12px;
}

.container a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.container button {
	border-radius: 20px;
	border: 1px solid var(--red-color);
	background-color: var(--red-color);
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}
.container .more_btn {
	border: 1px solid var(--primary-color);
	color: var(--secondary-text-color);
	background-color: var(--primary-color);
	transition: all 0.15s ease-in-out;
}
.container .more_btn:hover {
	/* border: 1px solid var(--primary-color); */
	color: var(--primary-color);
	background-color: var(--secondary-text-color);
}

.container button:active {
	transform: scale(0.95);
}

.container button:focus {
	outline: none;
}

.container .ghost {
	background: transparent;
	border-color: var(--white-color);
	transition: all 0.15s ease-in-out;
}
.container .ghost:hover {
	background: #fff;
	color: var(--primary-color);
	/* background: var(--primary-color); */
}

.container .div_container {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
.products_banner_img {
	/* position: absolute; */
	/* top: 0; */
	/* right: 0; */
	width: 250px;
	/* height: 450px; */
}

/* .container input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
} */

.container {
	/* display: flex; */
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 7px 18px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 1200px;
	margin: 100px 10px 0;
	min-height: 500px;
}

.form_container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign_in_container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right_panel_active .sign_in_container {
	transform: translateX(100%);
}

.sign_up_container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right_panel_active .sign_up_container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay_container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 6;
}

.container.right_panel_active .overlay_container {
	transform: translateX(-100%);
}

.overlay {
	background: var(--product-banner-bg2);
	background: -webkit-linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background: linear-gradient(to right, var(--product-banner-bg1), var(--product-banner-bg2));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right_panel_active .overlay {
	transform: translateX(50%);
}

.overlay_panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay_left {
	transform: translateX(-20%);
}

.container.right_panel_active .overlay_left {
	transform: translateX(0);
}

.overlay_right {
	right: 0;
	transform: translateX(0);
}

.container.right_panel_active .overlay_right {
	transform: translateX(20%);
}

.social_container {
	margin: 20px 0;
}

/* .social_container a {
	border: 1px solid #dddddd;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
} */
