.product_pg_cont {
	margin: 100px 60px 0;
}
/* Heading cont */
.heading_cont {
	border-bottom: 1px solid var(--border-color);
	margin: 0px auto 40px;
	width: 90%;
}
.heading {
	color: var(--primary-text-color);
	margin: 0 15px;
}

.product_detail_container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 50px;
	color: var(--primary-text-color);
}

.reviews {
	color: var(--yellow-color);
	margin: 10px 15px;
	display: flex;
	gap: 5px;
	align-items: center;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.reviews p {
	color: var(--banner-background-dark);
	margin-top: 0px;
}

/* IMAGE SECTION */
.all_img_cont {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 450px;
	box-shadow: inset 0 0 20px 0 #00000030, inset 0 0 1px 0 var(--secondary-text-color);
	border-radius: 12px 0 0 12px;
	padding: 40px 20px;
}

.image_container {
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 30px;
}
.product_detail_image {
	border-radius: 15px;
	background-color: var(--banner-background);
	/* box-shadow: 0 0px 10px 0 var(--banner-shadows); */
	width: 400px;
	height: 400px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.product_detail_image:hover {
	background-color: var(--banner-background-dark);
}
.product_detail_container .product_detail_image {
	width: 400px;
	height: 400px;
}

/* smol imgs */
.small_images_container {
	display: flex;
	gap: 26px;
	margin-top: 20px;
	flex-wrap: wrap;
}
.small_image {
	border-radius: 10px;
	background-color: var(--banner-background);
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.selected_image {
	background-color: var(--primary-text-color);
}

/* PRODUCT DESC CONT */
.product_detail_desc {
	max-width: 60%;
	/* border: 1px solid blue; */
	background-image: linear-gradient(
		to right top,
		#4954be,
		#0070cd,
		#0086cf,
		#0099c9,
		#00aabf,
		#00acc1,
		#00adc4,
		#00afc6,
		#00a2d7,
		#0091e6,
		#007ceb,
		#525fe1
	);
	background-size: 400% 400%;
	animation: gradient 10s infinite;

	/* background-size: 400%; */
	box-shadow: inset 0 0 23px 0 #ffffff97, inset 0 0 1px 0 var(--secondary-text-color);
	border-radius: 0 15px 15px 0;
	padding: 40px 30px;
	transition: all 1s ease-in-out;
}
/* .product_detail_desc:hover {
	background-size: 100%;
} */

.product_detail_desc h2 {
	color: var(--secondary-text-color);
	/* margin-top: 5px; */
	padding-bottom: 8px;
	border-bottom: 3px solid var(--border-color);
	font-size: 2rem;
}
.printify_desc {
	font-size: 1.125rem;
	border-radius: 10px;
	/* border: 1px solid var(--primary-color); */
	background: rgba(39, 59, 134, 0.13);
	border-radius: 16px;
	box-shadow: inset 0 0 25px 0 #ffffff4d, inset 0 0 1px 0 var(--secondary-text-color);
	backdrop-filter: blur(11.2px);
	-webkit-backdrop-filter: blur(11.2px);
	padding: 20px;
	margin: 20px 0 0;
	color: var(--secondary-text-color);
}
.printify_desc p {
	margin-top: 10px;
}
.product_detail_desc table {
	border: 1px solid var(--primary-text-color);
	display: none;
}
.product_detail_desc p {
	font-size: 1.125rem;
}

.product_detail_desc .price {
	font-weight: 700;
	font-size: 2.25rem;
	margin-top: 20px;
	color: var(--secondary-text-color);
}
/* .price .old-price,
.product-price .old-price,
.price .old-price {
	color: var(--primary-text-color);
	text-decoration: line-through;
} */
.product_detail_desc .quantity {
	display: flex;
	background: rgba(39, 59, 134, 0.13);
	border-radius: 10px;
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
	backdrop-filter: blur(11.2px);
	-webkit-backdrop-filter: blur(11.2px);
	gap: 20px;
	margin-top: 20px;
	padding: 15px;
	align-items: center;
	color: var(--secondary-text-color);
	box-shadow: inset 0 0 15px 0 #ffffff5e, inset 0 0 1px 0 var(--secondary-text-color);
}
.quantity h3 {
	width: 110px;
	font-size: 1.375rem;
	padding: 10px 15px;
}
.product_detail_desc .buttons {
	display: flex;
	gap: 30px;
}

/* QUANTITY STYLES */
.quantity_desc {
	border: 1px solid gray;
	padding: 4px;
}
.quantity_desc span {
	font-size: 16px;
	padding: 6px 12px;
	cursor: pointer;
}
.quantity_desc .minus {
	border-right: 1px solid var(--primary-text-color);
	color: #f02d34;
}
.quantity_desc .num {
	border-right: 1px solid var(--primary-text-color);
	font-size: 20px;
}
.quantity_desc .plus {
	color: rgb(49, 168, 49);
}

/* CTA BUTTONS STYLES */
.buttons .add_to_cart,
.buttons .buy_now {
	width: 150px;
	border-radius: 8px;
}

.buttons .add_to_cart {
	padding: 10px 20px;
	border: none;
	margin-top: 20px;
	font-size: 1.125rem;
	font-weight: 500;
	background-color: var(--secondary-text-color);
	color: var(--primary-color);
	cursor: pointer;
	width: 200px;
	transform: scale(1, 1);
	transition: transform 0.25s ease;
}
.buttons .add_to_cart:active {
	transform: scale(1.05);
}
.buttons .buy_now {
	width: 200px;
	padding: 10px 20px;
	background-color: var(--primary-faded-color);
	color: var(--secondary-text-color);
	border: none;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	transform: scale(1, 1);
	transition: transform 0.5s ease;
}
.buttons .buy_now:hover {
	transform: scale(1.1, 1.1);
}

/* ANIMS */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
