@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");
.product_pg_cont {
	margin: 100px 60px 0;
	font-family: "Bai Jamjuree", cursive;
}
/* Heading cont */
.heading_cont {
	/* border-bottom: 1px solid var(--border-color); */
	margin: 0px auto 40px;
	width: 90%;
}
.heading {
	color: var(--primary-text-color);
	margin: 0 15px;
}

.product_detail_container {
	display: flex;
	justify-content: center;
	/* flex-wrap: wrap; */
	gap: 20px;
	margin-top: 50px;
	color: var(--primary-text-color);
}

.reviews {
	color: var(--yellow-color);
	margin: 10px 15px;
	display: flex;
	gap: 5px;
	align-items: center;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.reviews p {
	color: var(--banner-background-dark);
	margin-top: 0px;
}

/* IMAGE SECTION */
.all_img_cont {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 450px;
	border-radius: 12px 0 0 12px;
	padding: 40px 20px;
}
.big_small_img_cont {
	display: flex;
	flex-direction: column;
}

.image_container {
	/* border-bottom: 1px solid var(--border-color); */
	padding-bottom: 30px;
}
.product_detail_image {
	border-radius: 15px;
	background-color: var(--banner-background);
	width: 400px;
	height: 400px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.product_detail_image:hover {
	background-color: var(--banner-background-dark);
}
.product_detail_container .product_detail_image {
	width: 400px;
	height: 400px;
}

/* smol imgs */
.small_images_container {
	display: flex;
	gap: 26px;
	margin-top: 20px;
	flex-wrap: wrap;
}
.small_image {
	border-radius: 10px;
	background-color: var(--banner-background);
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.selected_image {
	background-color: var(--primary-text-color);
}

/* PRODUCT DESC CONT */
.product_detail_desc {
	max-width: 60%;
	padding: 40px 30px;
	transition: all 1s ease-in-out;
}

.product_detail_desc h2 {
	color: var(--primary-text-color);
	padding-bottom: 8px;
	border-bottom: 3px solid var(--border-color);
	font-size: 2rem;
}
.printify_desc {
	min-height: 300px;
	font-size: 1.125rem;
	border-radius: 10px;
	/* border: 1px solid var(--border-color); */
	border-radius: 16px;
	padding: 20px;
	margin: 20px 0 0;
	color: var(--primary-text-color);
}
.printify_desc p {
	margin-top: 10px;
}
.product_detail_desc table {
	display: block;
}
.product_detail_desc p {
	font-size: 1.125rem;
}
.price_cont {
	margin: 20px auto 0;
	padding: 0 0 0 20px;
	max-width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.middle_border {
	height: 100%;
	border-left: 2px solid var(--primary-color);
	padding: 20px 0;
	margin: 0 20px;
}

.one_price_cont,
.multiple_price_cont {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
.product_detail_desc .priceDesc {
	font-size: 1rem;
	color: var(--primary-text-color);
	padding-right: 10px;
}

.product_detail_desc .price {
	text-align: center;
	font-weight: 700;
	font-size: 2.5rem;
	color: var(--primary-text-color);
}

.visible {
	opacity: 1;
	transform: translateY(0);
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-delay: 0.1s, 0s; /* delay for opacity transition, no delay for transform */
}
.hidden {
	opacity: 0;
	transform: translateY(-20px);
	pointer-events: none;
	transition-property: opacity, transform, margin-top;
	transition-duration: 0.2s;
	transition-delay: 0s, 0.2s, 0.2s; /* no delay for opacity and transform, delay for margin-top transition */
}

.product_detail_desc .quantity {
	display: flex;
	border-radius: 10px;
	border: 1px solid var(--border-color);
	gap: 20px;
	margin-top: 20px;
	padding: 15px;
	align-items: center;
	color: var(--primary-text-color);
}
.quantity h3 {
	width: 110px;
	font-size: 1.375rem;
	padding: 10px 15px;
}
.product_detail_desc .buttons {
	display: flex;
	gap: 30px;
	justify-content: center;
}

/* QUANTITY STYLES */
.quantity_desc {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 160px;
	background-color: transparent;
	padding: 0;
	color: var(--primary-text-color);
	border-radius: 40px;
	overflow: hidden;
	border: 2px solid var(--primary-faded-color);
}
.quantity_desc p {
	padding: 6px 18px;
}
.quantity_desc .minus,
.quantity_desc .plus {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	font-size: 1.75rem;
	color: var(--primary-faded-color);
	cursor: pointer;
	padding: 10px;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
.quantity_desc .minus:hover,
.quantity_desc .plus:hover {
	background-color: var(--primary-faded-color);
	color: var(--secondary-text-color);
}
.quantity_desc .num {
	font-size: 1.5rem;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	/* width: 55px; */
}

/* CTA BUTTONS STYLES */
.buttons .add_to_cart,
.buttons .buy_now {
	width: 150px;
	border-radius: 8px;
	width: 300px;
}

.buttons .add_to_cart {
	padding: 10px 20px;
	border: 1px solid var(--primary-color);
	margin-top: 20px;
	font-size: 1.125rem;
	font-weight: 500;
	background-color: var(--white-color);
	color: var(--primary-color);
	cursor: pointer;
	transform: scale(1, 1);
	transition: transform 0.25s ease;
	font-family: "Bai Jamjuree", cursive;
}
.buttons .add_to_cart:active {
	transform: scale(1.05);
}
.buttons .buy_now {
	padding: 10px 20px;
	background-color: var(--primary-faded-color);
	color: var(--secondary-text-color);
	border: none;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	transform: scale(1, 1);
	transition: transform 0.5s ease;
	font-family: "Bai Jamjuree", cursive;
}
.buttons .buy_now.buy_now:hover,
.buttons .add_to_cart:hover {
	transform: scale(1.05, 1.05);
}

/* similar products */
.similar_products_wrapper {
	margin-top: 120px;
}
.similar_products_wrapper h2 {
	text-align: center;
	margin: 50px;
	color: var(--primary-text-color);
	font-size: 28px;
}
.marquee {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: visible;
}

.similar_products_container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
	margin-top: 20px;
}

.track {
	position: relative;
	width: fit-content;
	margin: 0 auto;
	padding: 0 80px;
}
.button {
	display: flex;
	justify-content: center;
	position: absolute;
	padding: 10px;
	background-color: var(--primary-faded-color);
	border-radius: 50%;
	color: var(--secondary-text-color);
	border: none;
	font-size: 18px;
	cursor: pointer;
}
.button:disabled {
	background-color: var(--primary-text-color);
	opacity: 0.5;
	cursor: not-allowed;
}
.prev_btn {
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
}
.next_btn {
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}
/* ANIMATIONS */
.similar_products_container {
	transition: transform 0.5s ease-in-out;
}

.fade-in {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

/* media queries */
@media (width < 1550px) {
	.similar_products_container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (width < 1300px) {
	.similar_products_container {
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
}

@media (width < 1200px) {
	.product_pg_cont {
		margin: 80px 20px 0;
	}
	.product_detail_container {
		gap: 10px;
	}
}
@media (width < 1000px) {
	.product_pg_cont {
		margin: 0px 0px 0;
	}
	.product_detail_container {
		flex-wrap: wrap;
		gap: 0;
		margin: 0;
	}
	.heading_cont {
		margin: 0px auto 20px;
	}
	.all_img_cont {
		width: 100%;
		max-width: 100%;
		height: 100%;
		border-radius: 0;
		padding: 40px 20px 20px;
	}
	.product_detail_desc {
		border-radius: 0 0 20px 20px;
		max-width: 100%;
		width: 100%;
	}
	.big_small_img_cont {
		flex-direction: row;
		justify-content: center;
		gap: 20px;
		width: 100%;
		height: 350px;
	}
	.product_detail_container .product_detail_image {
		width: 350px;
		height: 350px;
	}
	.image_container {
		border: none;
		padding-right: 20px;
	}
	.similar_products_container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 50px;
		grid-row-gap: 50px;
	}
	.small_images_container {
		flex-direction: column;
		gap: 10px;
		padding-right: 80px;
	}
}
@media (width < 900px) {
	.small_images_container {
		padding-right: 130px;
	}
}
@media (width < 800px) {
	.small_images_container {
		padding-right: 0;
	}
	.big_small_img_cont {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		gap: 10px;
	}
	.image_container {
		display: flex;
		justify-content: center;
		border: none;
		padding-right: 0px;
	}
	.small_images_container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.similar_products_container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
	.track {
		padding: 0;
	}
	.prev_btn {
		top: unset;
		bottom: -85px;
		left: 35%;
		transform: translateX(-50%);
		padding: 10px 40px;
		border-radius: 10px;
	}
	.next_btn {
		top: unset;
		bottom: -85px;
		right: 35%;
		transform: translateX(50%);
		padding: 10px 40px;
		border-radius: 10px;
	}
}

@media (width < 600px) {
	.product_pg_cont {
		margin: 0px 0 0;
	}
	.product_detail_container {
		flex-wrap: wrap;
		gap: 0;
		margin: 0;
	}
	.all_img_cont {
		width: 100%;
		max-width: 100%;
		border-radius: 0;
	}
	.product_detail_desc {
		border-radius: 0;
		max-width: 100%;
		width: 100%;
	}
	.big_small_img_cont {
		/* flex-direction: row; */
		gap: 20px;
	}
	.product_detail_container .product_detail_image {
		width: 350px;
		height: 350px;
	}
	.small_images_container {
		margin-top: 0px;
	}
	.similar_products_container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: 25px;
	}
	.prev_btn {
		left: 22%;
	}
	.next_btn {
		right: 22%;
	}
}
@media (width < 500px) {
	.all_img_cont {
		padding: 40px 0px 20px;
	}
	.product_detail_container .product_detail_image {
		width: 300px;
		height: 300px;
	}
	.product_detail_desc {
		padding: 40px 10px;
	}
	.product_detail_desc .buttons {
		gap: 10px;
		justify-content: center;
	}
	.buttons .add_to_cart,
	.buttons .buy_now {
		padding: 10px 16px;
		font-size: 1rem;
		width: 180px;
	}
	.price_cont {
		margin: 20px auto 0;
		padding: 0 0 0 20px;
		max-width: 600px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}
	.middle_border {
		display: none;
	}
	.visible {
		transition-property: opacity, transform, margin-top;
		transition-duration: 0.2s;
		transition-delay: 0.2s, 0s, 0s;
	}
	.hidden {
		margin-top: -40px;
		transition-property: opacity, transform, margin-top;
		transition-duration: 0.2s;
		transition-delay: 0s, 0.2s, 0.2s; /* no delay for opacity and transform, delay for margin-top transition */
	}

	.product_detail_desc .price {
		font-size: 2rem;
	}
}

@media (width < 400px) {
	.product_detail_desc .buttons {
		display: flex;
		flex-direction: column;
		gap: 0;
		justify-content: center;
		align-items: center;
	}
	.buttons .add_to_cart,
	.buttons .buy_now {
		padding: 12px 20px;
		font-size: 1.125rem;
		width: 100%;
	}
}

/* ANIMS */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
