.success_wrapper,
.cancel-wrapper {
	background: transparent;
	min-height: 60vh;
}
.success,
.cancel {
	width: 1000px;
	margin: auto;
	margin-top: 160px;
	background: transparent;
	padding: 50px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* .top_heading{} */

.success .icon {
	color: green;
	font-size: 40px;
}
.success .top_heading_text {
	text-transform: capitalize;
	margin-top: 15px 0px;
	font-weight: 900;
	font-size: 40px;
	color: var(--primary-text-color);
}
.success .email_msg {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}
.cancel p {
	font-size: 20px;
	font-weight: 600;
}
.success .description {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin: 10px;
	margin-top: 30px;
}
.success .description .email {
	margin-left: 5px;
	color: #f02d34;
}
.product_cont {
}
.product_name {
}
.product_price {
}
.product_qty {
}
.total_price {
}

@media (width < 800px) {
	.success_wrapper,
	.cancel_wrapper {
		min-height: 69vh;
	}
	.success,
	.cancel {
		width: 370px;
		margin-top: 100px;
		padding: 20px;
	}
	.success {
		height: 350px;
	}
	.success h2 {
		font-size: 17px;
	}
}
