@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;500;700&display=swap");
.success_wrapper,
.cancel-wrapper {
	background: transparent;
	min-height: 70vh;
}
.success,
.cancel {
	max-width: 1000px;
	margin: auto;
	margin-top: 0;
	background: transparent;
	padding: 0 50px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.top_heading {
	width: 100%;
	padding: 10px 0;
	margin-bottom: 60px;
}

.success .logo {
	width: 15%;
	margin: 0 auto;
}
.success .logo_img {
	width: 100%;
}
.success .top_heading_text {
	line-height: 1.3;
	text-align: center;
	margin: 5px 0 4px;
	font-weight: 500;
	font-size: 1.75rem;
	color: var(--primary-text-color);
}
.success .email_msg {
	font-size: 1.125rem;
	font-weight: 300;
	text-align: center;
}
.btn_cont {
	max-width: 320px;
	margin: 30px auto 0;
	padding: 0 5px;
}
.top_heading button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	padding: 10px 20px;
	background-image: linear-gradient(
		to right,
		#21d6ae,
		#1dd3aa,
		#18d0a7,
		#12cea3,
		#0bcba0,
		#0bcca0,
		#0acca1,
		#0acda1,
		#10d1a5,
		#15d4a9,
		#1ad8ae,
		#1edcb2
	);
	color: var(--secondary-text-color);
	font-size: 1.125rem;
	border: none;
	font-family: "Bai Jamjuree", sans-serif;
	font-weight: 500;
	cursor: pointer;
	width: 100%;
	transition: all 0.3s;
	box-shadow: 6px 6px 12px #c5c5c57f, -6px -6px 12px #00ffa625;
	transition: all 0.3s ease-in-out;
}
.top_heading button svg {
	opacity: 0;
	transition: all 0.3s ease-in-out;
	margin-left: -30px;
	padding: 4px 0 0 0;
}
.top_heading button:hover svg {
	opacity: 1;
	padding: 4px 0 0 0;
	margin-left: 6px;
}
.top_heading button:hover {
	box-shadow: 6px 6px 12px #c5c5c5df, -6px -6px 12px #00ffa645;
	scale: 1.02;
}

/* BOTTOM STYLES */
.success .bottom {
	font-weight: 500;
}
.bottom_heading {
	width: 85%;
	min-height: 250px;
	padding: 40px 40px 0;
	border: 3px dotted var(--border-color);
	box-shadow: 0 0 20px 0px var(--greyLight-2), inset 0 0 5px 0 var(--border-color);
	font-weight: 300;
	transition: all 0.3s;
	border-radius: 8px;
}
.bottom_heading:hover {
	box-shadow: 0 0 30px 0px var(--border-color), inset 0 0 10px 0 var(--border-color);
	scale: 1.01;
}
.success .icon {
	width: 100%;
	color: var(--primary-color);
	text-align: center;
	font-size: 2.5rem;
}
.success .description {
	font-size: 1.125rem;
	text-align: center;
	margin: 10px;
}
.success .description .email {
	margin-left: 5px;
	color: var(--primary-color);
}

/* PRODUCTS STYLES */
.product_cont {
	margin: 50px 0;
}
.product_inner_cont {
	margin: 20px 50px;
	display: flex;
	border-bottom: 2px solid var(--border-color);
}
.product_image {
	width: 90px;
}
.product_text_cont {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 15px 0;
}
.product_name {
	font-weight: 500;
}
.price_qty {
	display: flex;
	justify-content: space-between;
}
.product_qty {
	width: fit-content;
}
.product_price {
	width: fit-content;
	text-align: end;
}
.total_price {
	font-weight: 500;
	margin: 30px 50px 60px;
	font-size: 2rem;
	text-align: end;
}
.total_num {
	/* padding-left: 5px; */
	color: var(--primary-color);
}

@media (width < 800px) {
	.success_wrapper {
		min-height: 69vh;
	}
	.success {
		max-width: 600px;
		padding: 20px;
	}
	.success .logo {
		width: 30%;
		margin: 0 auto;
	}
	.success .top_heading_text {
		font-size: 1.5rem;
	}
	.success .email_msg {
		font-size: 1rem;
	}
	.btn_cont {
		max-width: 300px;
		margin: 20px auto 0;
		padding: 0 5px;
	}
	.top_heading button {
		font-size: 1rem;
	}
	.success .description {
		font-size: 1rem;
	}
	.bottom_heading {
		width: 100%;
		padding: 40px 20px 0;
	}
}
